.wrapper{
    overflow: hidden;
}
.sc-visual{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.sc-visual .visual-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 1s ease;
    background: url('https://www.genesystem.co.kr/resource/images/main/main_visual_bg.jpg') no-repeat center/cover;
}
.sc-visual .common-inner{
    max-width: 114.375rem;
}
.sc-visual .title{
    position: absolute;
    bottom: 7.5em;
    padding: 0 1.5625rem;
}
.sc-visual .title p{
    overflow: hidden;
}
.sc-visual .title span{
    display: block;
    font-size: 6.25em;
    font-family: 'suit';
    font-weight: 800;
    transform: translateY(100%);
    transition: 1s;
}
.sc-visual .title.on span{
    transform: translateY(0%);
}
.sc-visual .title .text{
    display: block;
    font-size: 1.625em;
    margin-top: 1.1538461538em;
    font-weight: 500;
}

.sc-solution{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 2.5em;
}
.sc-solution .common-inner{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sc-solution .solution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
}
.sc-solution .common-inner:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 1px;
    height: calc(100% - var(--header-height));
    background: rgba(255, 255, 255, .3);
}
.sc-solution .common-inner::before{
    position: absolute;
    content: '';
    top: var(--header-height);
    left: 50%;
    transform: translate(-50%, -5px);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
}
.sc-solution .solution-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    background: url('https://www.genesystem.co.kr/resource/images/main/con2_bg.jpg') no-repeat center/cover;
}

.sc-solution .title {
    font-size: 3em;
    margin-bottom: 1em;
    line-height: 1.27;
}
.sc-solution .title span{
    display: block;
    font-weight: bold;
}
.sc-solution .pro-group{
    display: flex;
}
.sc-solution .pro-group .content{
    position: relative;
    width: 50%;
}
.sc-solution .pro-group .content:nth-child(1){
    padding-right: 4.375em;
}
.sc-solution .pro-group .content:nth-child(2){
    padding-left: 4.375em;
}
.sc-solution .pro-group .content .sub-title{
    display: flex;
    font-size: 1.875em;
    font-weight: bold;
    gap: 0.333em;
    margin-bottom: 1.25em;
    line-height: 1.875em;
}
.sc-solution .pro-group .content .sub-title span{
    opacity: 0.6;
    font-size: 0.8em;
}
.sc-solution .pro-group .content .swiper-wrapper{
    display: flex;
}
.sc-solution .pro-group .content .swiper-slide{
    width: calc(50% - 5px);
    height: 24em;
    border-radius: 1.875em;
    background: var(--color-white);
    overflow: hidden;
    padding: 2rem 2.5rem 2.5rem;
    transition: .5s;
}

.sc-solution .pro-group .content .swiper-slide:hover{
    background: #a9b3b5;
}
.sc-solution .pro-group .content .swiper-slide a{
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}
.sc-solution .pro-group .content .swiper-slide a:after{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 2.25em;
    height: 2.25em;
    border: 1px solid var(--color-gray);
    border-radius: 0.5rem;
    background: url('../images/solution-arrow.svg') no-repeat center/1.5em;
}
.sc-solution .pro-group .content .swiper-slide:hover a:after{
    opacity: 0;
    visibility: hidden;
}

.sc-solution .pro-group .content .swiper-slide .img-wrap{
    position: relative;
}
.sc-solution .pro-group .content .swiper-slide .img-wrap img{
    transform: scale(1.1);
    padding-top: 1rem;
}
.sc-solution .pro-group .content .swiper-slide:hover .img-wrap img{
    opacity: 0;
}
.sc-solution .pro-group .left-content .swiper-slide:nth-child(1):hover .img-wrap:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(https://www.genesystem.co.kr/resource/images/main/instrument_h_img1.png?v=0.2) no-repeat center / 110%;
}
.sc-solution .pro-group .left-content .swiper-slide:nth-child(2):hover .img-wrap:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(https://www.genesystem.co.kr/resource/images/main/instrument_h_img2.png?v=0.2) no-repeat center / 110%;
}
.sc-solution .pro-group .left-content .swiper-slide:nth-child(3):hover .img-wrap:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(https://www.genesystem.co.kr/resource/images/main/instrument_h_img3.png?v=0.2) no-repeat center / 110%;
}
.sc-solution .pro-group .left-content .swiper-slide:nth-child(4):hover .img-wrap:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(https://www.genesystem.co.kr/resource/images/main/instrument_h_img4.png?v=0.2) no-repeat center / 110%;
}
.sc-solution .pro-group .left-content .swiper-slide:nth-child(1):hover .img-wrap:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(https://www.genesystem.co.kr/resource/images/main/instrument_h_img1.png?v=0.2) no-repeat center / 110%;
}
.sc-solution .pro-group .right-content .swiper-slide:nth-child(1):hover .img-wrap:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(https://www.genesystem.co.kr/resource/images/main/consumables_h_img1.png?v=0.1) no-repeat center / 110%;
}
.sc-solution .pro-group .right-content .swiper-slide:nth-child(2):hover .img-wrap:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(https://www.genesystem.co.kr/resource/images/main/consumables_h_img2.png?v=0.1) no-repeat center / 110%;
}
.sc-solution .pro-group .right-content .swiper-slide:nth-child(3):hover .img-wrap:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(https://www.genesystem.co.kr/resource/images/main/consumables_h_img3.png?v=0.1) no-repeat center / 110%;
}

.sc-solution .pro-group .content .swiper-slide .text-wrap{
    font-size: 1.125em;
    color: #000;
}
.sc-solution .pro-group .content .swiper-slide:hover .text-wrap .name,
.sc-solution .pro-group .content .swiper-slide:hover .text-wrap .desc{
    color: #fff;
}
.sc-solution .pro-group .content .swiper-slide .text-wrap .name{
    display: flex;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
}

.sc-solution .pro-group .content .swiper-slide .text-wrap .desc{
    display: none;
    font-size: 1em;
    color: #000;
    margin-top: 1em;
    line-height: 1.2;
}
.sc-solution .pro-group .content .swiper-slide:hover .text-wrap .desc{
    display: block;
}
.sc-solution .pro-group .content .control-box{
    display: flex;
    gap: 0.3125em;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
}
.sc-solution .pro-group .content:nth-child(1) .control-box{
    margin-right: 4.375em;
}
.sc-solution .pro-group .content .control-box .btn{
    position: relative;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .5);
    border-radius: 0.5rem;
}
.sc-solution .pro-group .content .control-box .btn:hover{
    background: #28d1c9;
}

.sc-solution .pro-group .content .control-box .left-btn:after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    z-index: 1;
    background: url(../images/swiper-arrow.svg) no-repeat center;
}
.sc-solution .pro-group .content .control-box .swiper-button-disabled{
    opacity: 0.3;
    pointer-events: none;
}
.sc-solution .pro-group .content .control-box .right-btn:after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: url(../images/swiper-arrow.svg) no-repeat center;
}

.sc-diagnose{
    position: relative;
    width: 100%;
    height: 100vh;
}
.sc-diagnose .diagnose-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    background: url('https://www.genesystem.co.kr/resource/images/main/con3_bg.png') no-repeat center/cover;
}
.sc-diagnose .content-wrap{
    display: flex;
    align-items: center;
    gap: 0.625em;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.sc-diagnose .content-wrap .list{
    display: grid;
    gap: 0.625em;
    width: 100%;
    height: 67.5925925926vh;
    min-height:507px;
    grid-template-rows: 50%;
    grid-template-columns: 42.5% auto;
}
.sc-diagnose .content-wrap .item{
    border-radius: 1.875em;
    overflow: hidden;
    padding: 3.125em;
    position: relative;
}
.sc-diagnose .content-wrap .item:hover{
    background: linear-gradient(183deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5354516806722689) 100%);
}
.sc-diagnose .content-wrap .item:nth-child(1){
    position: relative;
    grid-row: 1/3;
    grid-column: 1/2;
}
.sc-diagnose .content-wrap .item:nth-child(1)::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('https://www.genesystem.co.kr/resource/images/main/con3_img1.jpg') no-repeat center/cover;
    overflow: hidden;
}
.sc-diagnose .content-wrap .item:nth-child(-n+3)::before{
   transition: .5s;
}
.sc-diagnose .content-wrap .item:nth-child(-n+3):hover::before{
   transform: scale(1.1);
}

.sc-diagnose .content-wrap .item:nth-child(2){
    position: relative;
    grid-row: 1/2;
    grid-column: 2/3;
}
.sc-diagnose .content-wrap .item:nth-child(2)::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('https://www.genesystem.co.kr/resource/images/main/con3_img2.jpg') no-repeat center/cover;
}
.sc-diagnose .content-wrap .item:nth-child(3){
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
}
.sc-diagnose .content-wrap .item:nth-child(3)::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('https://www.genesystem.co.kr/resource/images/main/con3_img3.jpg') no-repeat center/cover;
}
.sc-diagnose .content-wrap .item:hover .title{
    display: none;
}
.sc-diagnose .content-wrap .item .title{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
    line-height: 1.3125;
    font-weight: 800;
    font-size: 2.3rem;
    transition: .5s;
}

.sc-diagnose .content-wrap .item .title span{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.9rem;
    color: #28d1c9;
}

.sc-diagnose .content-wrap .item .hide-wrap{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.sc-diagnose .content-wrap .item:hover .hide-wrap{
    display: flex;
}
.sc-diagnose .content-wrap .item:nth-child(1) .hide-wrap{
    display: none;
}
.sc-diagnose .content-wrap .item:nth-child(1):hover .hide-wrap{
    display: flex;
    flex-direction: column;
    position: relative;
}

.sc-diagnose .content-wrap .item .hide-wrap .top-box .sub-title{
    font-size: 2.1875em;
    font-weight: 800;
    margin-bottom: 0.4571428571em;
}
.sc-diagnose .content-wrap .item .hide-wrap .top-box .desc{
    display: block;
    font-size: 1em;
    line-height: 1.2;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .grid-list{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1.875em;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .grid-item:hover{
    color: #28d1c9;
}
.sc-diagnose .content-wrap .item:nth-child(2) .hide-wrap .bottom-box .dep-wrap{
    display: flex;
    width: 100%;
    height: 100%;
}

.sc-diagnose .content-wrap .item:nth-child(3) .hide-wrap .bottom-box .grid-list{
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1.875em;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .grid-list .grid-item a{
    display: flex;
    width: 100%;
    height: 3.5em;
    line-height: 1.3125;
    font-weight: 500;
    padding: 1.125em 0;
    padding-right: 1.5625em;
    background: url('../images/swiper-arrow.svg') no-repeat right center/1em;
    position: relative;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .grid-list .grid-item a:hover{
    background: url('../images/swiper-arrow-hover.svg') no-repeat right center/1em;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .grid-list .grid-item a::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .grid-list .grid-item:hover a::after{
    background: #28d1c9;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-wrap{
    display: flex;
    gap: 1.875em;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-wrap .dep-list:nth-child(2){
    margin-top: 0.5em;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item a{
    display: block;
    font-size: 1em;
    height: 3.5em;
    width: 15em;
    line-height: 1.2;
    line-height: 1.3125;
    padding: 1.125em 0;
    padding-right: 1.5625em;
    position: relative;
    background: url('../images/swiper-arrow.svg') no-repeat right center/1em;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item a:hover{
    background: url('../images/swiper-arrow-hover.svg') no-repeat right center/1em;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item a::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item:hover a::after{
    background: #28d1c9;
}

.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item:nth-child(1){
    border: none;
    background: none;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item a:hover{
    color: #28d1c9;
}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item .part{position: relative;margin-bottom: .5rem;padding-left: 0.7rem;font-weight: 800;}
.sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item .part::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
}

.sc-appeal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
}
.sc-appeal::before{position: absolute;top: 0;left: 0;width: 100%;height: 300vh;background:url('https://www.genesystem.co.kr/resource/images/main/content_bg.jpg') no-repeat 100% center/cover;content: '';z-index: -1;}
.sc-appeal .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.75em;
    font-weight: 800;
    line-height: 1.2;
    width: 100%;
    height: 100vh;
}
.sc-appeal .title span{
    text-align: center;
    display: block;
}
.sc-appeal .line{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,.3);
    width: 1px;
    height: 30vh;
}
.sc-appeal .line::before{
    position: absolute;
    content: '';
    transform: translateX(-50%);
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 50%;
}

.sc-skill{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.sc-skill .common-inner{
    width: 100%;
    max-width: 1820px;
    margin: 0 auto;
    padding: 0 1.5625rem;
}
.sc-skill .list{
    margin-top: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - var(--header-height));
}
.sc-skill .item{
    position: relative;
    height: 100%;
    flex: 1;
    padding: 0.75em 0.875em 4.25em;
}
.sc-skill .item::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: rgba(255,255,255,.3);
    top: 0;
    right: 0;
}
.sc-skill .item::before{
    position: absolute;
    content: '';
    top: .1em;
    left: 0;
    transform: translate(-50%, -70%);
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 50%;
}
.sc-skill .item:nth-child(3)::after{
    display: none;
}
.sc-skill .item:nth-child(1)::before{
    display: none;
}

.sc-skill .item .content{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 0 3.375em;
    height: 80vh;
    border-radius: 1.5em;
    gap: 1rem;
    overflow: hidden;
}
.sc-skill .item:nth-child(1) .content::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transform: translateX(-100%);
    transition: .3s;
    background: url('https://www.genesystem.co.kr/resource/images/main/con5_img1.jpg') no-repeat 50% center/cover;
}
.sc-skill .item:nth-child(1):hover .content::before{
    transform: translateX(0%);
    opacity: 1;
}
.sc-skill .item:nth-child(2) .content::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: .3s;
    transform: translateX(-100%);
    background: url('https://www.genesystem.co.kr/resource/images/main/con5_img2.jpg') no-repeat 50% center/cover;
}
.sc-skill .item:nth-child(2):hover .content::before{
    transform: translateX(0%);
    opacity: 1;
}
.sc-skill .item:nth-child(3) .content::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: .3s;
    transform: translateX(-100%);
    background: url('https://www.genesystem.co.kr/resource/images/main/con5_img3.jpg') no-repeat 50% center/cover;
}
.sc-skill .item:nth-child(3):hover .content::before{
    opacity: 1;
    transform: translateX(0%);
}
.sc-skill .item .content .text-wrap .title{
    font-size: 2.5em;
    font-weight: 800;
}
.sc-skill .item .content .text-wrap .desc{
    font-size: 1.25em;
    margin-top: 0.9em;
}

.sc-stage{
    position: relative;
    width: 100%;
    height: 100vh;
}
.sc-stage .common-inner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.sc-stage .list{
    display: flex;
    position: relative;
    align-items: center;
    gap: 2.5em;
    width: 100%;
    padding-top: var(--header-height);
    margin: 0 auto;
}
.sc-stage .item{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 30em;
    width: calc(25% - 0.75 * 2.5em);
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter :blur(30px);
    border-radius: 1.5em;
}
.sc-stage .item::before{
    position: absolute;
    content: '';
    left: 0;
    top: 8.25em;
    transform: translateX(-50%);
    width: 0.6875em;
    height: 0.6875em;
    background: #fff;
    border-radius: 50%;
}
.sc-stage .list::after{
    content: '';
    position: absolute;
    top: 14.9em;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 10;
}
.sc-stage .item .top-area{
    display: flex;
    flex-direction: column;
    padding: 3.125em 2.5em 1.875em;
}
.sc-stage .item .top-area .stage{
    font-size: 1.5em;
    font-weight: 800;
}
.sc-stage .item .top-area .date{
    font-size: 1.125em;
    margin-top: .8em;
    font-weight: 500;
}
.sc-stage .item .bottom-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    padding: 3.125em 2.5em;
}
.sc-stage .item .bottom-area .title{
    font-size: 1.625em;
    line-height: 1.3em;
}
.sc-stage .item .bottom-area .bot-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 0.875em;
}
.sc-stage .item .bottom-area .bot-item{
    position: relative;
}
.sc-stage .item .bottom-area .bot-item:before{
    position: absolute;
    content: '';
    display: block;
    left: -0.875em;
    top: 0.5em;
    height: 0.25rem;
    width: 0.25rem;
    background: #fff;
    border-radius: 50%;
}

.sc-stage .up-btn .up{
    display: block;
    position: absolute;
    bottom: 3em;
    right: 4.375em;
    width: 3.375em;
    height: 3.375em;
    border-radius: 0.625em;
    z-index: 10;
    background: rgba(255, 255, 255, .15) no-repeat center/1.5em url('../images/swiper-arrow.svg');
    transform: rotate(-90deg);
}

/* ----------------- 1440px ----------------- */

@media (max-width:1440px) {}

/* ----------------- 1024px ----------------- */

@media (max-width:1024px) {
    .wrapper{
        overflow:visible;
    }
    .common-inner{
        padding: 0;
    }
    script#pullpage-js {
        display: none;
    }
    .sc-visual .title{
        margin-bottom: 5rem;
    }
    .sc-visual .title span{
        font-size: 4.25em;
    }
    .sc-solution{
        padding-bottom: 5rem;
    }
    .sc-solution .pro-group{
        flex-direction: column;
    }
    .sc-solution .pro-group .content{
        width: 100%;
    }
    .sc-solution .pro-group .content:nth-child(1),
    .sc-solution .pro-group .content:nth-child(2){
        padding: 0;
    }
    .sc-solution .pro-group .content:nth-child(2){
        margin-top: 5em;
    }
    .sc-solution .pro-group .content .sub-title{
        font-size: 2.5em;
        margin-bottom: 1rem;
    }
    .sc-solution .common-inner:after,
    .sc-solution .common-inner::before,
    .sc-solution .common-inner::after{
        display: none;
    }
    .sc-solution .pro-group .content:nth-child(1) .control-box{
        margin-right: 0;
    }
    .sc-diagnose{
        padding: 8.75em 0;
        height: auto;
    }
    .sc-diagnose .content-wrap .item:hover{
        background: none;
    }
    .sc-diagnose .content-wrap .item:hover .title{
        display: none;
}
    .sc-diagnose .content-wrap .list{
        display: flex;
        flex-direction: column;
        padding: 0 1.5625rem;
        height: auto;
    }
    .sc-diagnose .content-wrap{
        align-items: start;
        height: auto;
    }
    .sc-diagnose .content-wrap .item{
        padding: 3.8em 2.5em;
        width: 100%;
        height: 11rem;
        position: relative;
    }
    .sc-diagnose .content-wrap .item:nth-child(-n+3):hover::before{
        transform: scale(1);
     }
    .sc-diagnose .content-wrap .item .title{
        position: relative;
        font-size: 2.8em;
    }
    .sc-diagnose .content-wrap .item .down-btn{
        position: absolute;
        content: '';
        right: 2.5em;
        top: 3.8em;
        background: rgba(0, 0, 0, .5) url('../images/swiper-arrow.svg') no-repeat center;
        width: 3.2em;
        height: 3.2em;
        border-radius: 50%;
        transform: rotate(90deg);
    }
    .sc-diagnose .content-wrap .item .down-btn.on{
        transform: rotate(-90deg);
    }
    .sc-diagnose .content-wrap .item .hide-wrap{
        display: none;
        margin-top: 1.375em;
        opacity: 0;
    }
    .sc-diagnose .content-wrap .item .hide-wrap,
    .sc-diagnose .content-wrap .item:nth-child(1) .hide-wrap{
        display: flex;
        flex-direction: column;
    }
    .sc-diagnose .content-wrap .item:nth-child(1).on{
        transition: .3s;
        height: 100%;
        background: linear-gradient(to bottom, rgba(49, 85, 123, 0.01), #31557b 31%, #31557b);
    }
    .sc-diagnose .content-wrap .item:nth-child(2).on{
        transition: .3s;
        height: 100%;
        background: linear-gradient(to bottom, rgba(94, 100, 106, 0.01), #737c83 51%, #737c83);
    }
    .sc-diagnose .content-wrap .item:nth-child(3) .dep-list{
        width: 100%;
        margin-top: 3.75em;
    }
    .sc-diagnose .content-wrap .item:nth-child(3).on{
        transition: .3s;
        height: 100%;
        background: linear-gradient(to bottom, rgba(65, 103, 100, 0.01), #416764 50%, #416764);
    }
    .sc-diagnose .content-wrap .item.on .hide-wrap{
        opacity: 1;
    }
    .sc-diagnose .content-wrap .item .hide-wrap .top-box .sub-title{
        display: none;
        font-size: 2.8125em;
    }
    
    .sc-diagnose .content-wrap .item .hide-wrap .top-box .desc,
    .sc-diagnose .content-wrap .item .hide-wrap .bottom-box .grid-list .grid-item a,
    .sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item a{
        width: auto;
        font-size: 1.875em;
    }
    .sc-diagnose .content-wrap .item .hide-wrap .bottom-box .grid-list,
    .sc-diagnose .content-wrap .item .hide-wrap .top-box .grid-list{
        display: flex;
        flex-direction: column;
        margin-top: 3.75em;
    }
    .sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item .part{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.875em;
        padding-left: 0;
        height: 3em;
        width: auto;
        border-bottom: 1px solid #fff;
    }
    .sc-diagnose .content-wrap .item:nth-child(2) .hide-wrap .bottom-box .dep-wrap{
        margin-top: 3.75em;
        gap:0;
        width: 100%;
        flex: 1;
    }
    .sc-diagnose .content-wrap .item:nth-child(2) .hide-wrap .bottom-box .dep-list{
        flex: 1;
    }
    .sc-diagnose .content-wrap .item:nth-child(2) .hide-wrap .bottom-box .dep-list + .dep-list{
        margin-left: 1rem;
    }
    .sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-wrap .dep-list:nth-child(2){
        margin-top: 0;
    }
    .sc-diagnose .content-wrap .item:hover .title{
        display: block;
    }
    .sc-diagnose .content-wrap .item .title{
        align-items: baseline;
    }
    .sc-diagnose .content-wrap .item .hide-wrap .bottom-box .dep-item .part::before{
        display: none;
    }
    .sc-appeal{
        padding: 10rem 1.5625rem 8rem;
        height: auto;
    }
    .sc-appeal::before{
        height: 3760px;
    }
    .sc-appeal .title{
        font-size: 2.5em;
        font-weight: bold;
        height: 100%;
    }
    .sc-appeal .line{
        width: calc(100% - 1.5625em * 2);
        height: 1px;
        padding: 0 1.5625rem;
    }
    .sc-appeal .line::before{
        left: 0;
        top: 0;
        transform: translateY(-50%);
    }
    .sc-appeal .line::after{
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        transform: translateY(-50%);
        width: 9px;
        height: 9px;
        background: #fff;
        border-radius: 50%;
    }
    .sc-skill .item .content .text-wrap .desc{
        text-align: center;
    }
    .sc-skill .item .content .text-wrap .title{
        font-weight: bold;
    }
    .sc-skill{
        height: auto;
    }
    .sc-skill .common-inner{
        width: 100%;
    }
    .sc-skill .list{
        position: relative;
        flex-direction: column;
        margin-top: 0;
    }
    .sc-skill .list::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #fff;
        transform: translateY(50%);
    }
    .sc-skill .list::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #fff;
        transform: translateY(50%);
    }
    .sc-skill .item{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .sc-skill .item .content{
        height: 100%;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,.3);
        border-radius: 0;
        overflow: visible;
    }
    .sc-skill .item .content::before{
        display: none;
    }
    .sc-skill .item .content::after{
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        transform: translateY(-50%);
        width: 9px;
        height: 9px;
        background: #fff;
        border-radius: 50%;
    }
    .sc-skill .item::before{
        transform: translate(0, -70%);
    }
    .sc-skill .item::after{
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        transform: translateY(-50%);
        width: 9px;
        height: 9px;
        background: #fff;
        border-radius: 50%;
    }
    .sc-stage{
        display: none;
        padding: 0 1.5625rem 9.375em;
    }
    .sc-stage .common-inner{
        height: auto;
    }
    .sc-stage .list{
        flex-direction: column;
        margin: auto;
    }
    .sc-stage .item{
        width: 100%;
        height: auto;
    }
    .sc-stage .item .top-area{
        padding: 2.5em;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    .sc-stage .item .top-area .stage,
    .sc-stage .item .top-area .date{
        font-size: 1.7em;
    }
    .sc-stage .item .top-area .date{
        margin-top: 0.4em;
    }
    .sc-stage .item .bottom-area{
        padding: 2.5em;
    }
    .sc-stage .list::after,
    .sc-stage .item::before{
        display: none;
    }
    .sc-stage .item .bottom-area .title{
        font-weight: 900;
    }
    .sc-stage .item .bottom-area .bot-list{
        margin-top: 2.5em;
    }
    .sc-stage .item .bottom-area .bot-item{
        font-size: 1.625em;
    }
    .sc-stage .up-btn .up{
        bottom: -7rem;
        z-index: 20;
    }
}


/* ----------------- 767px ----------------- */

@media (max-width:767px) {}