.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.common-inner{
    position: relative;
    padding: 0 104px;
    max-width: 1408px;
    margin: 0 auto;
    box-sizing: border-box;
}

.headline{
    font-size: 64px;
    line-height: 71px;
    letter-spacing: -0.64px;
    margin-bottom: 20px;
    font-weight: bold;
}



/* 지금까지잡았던소스 1230까지 잘나오아햐마 */


/* 작은pc [1025px]까지만잡히면끝. */
@media (max-width:1229px) {
    
}


/* 모바일버전 [768px]까지만잡히면끝. */
@media (max-width:1024px) {
    .common-inner{
        padding: 0 50px;
    }
}


/* 모바일버전 [320]까지만잡히면끝. */
@media (max-width:767px) {
    .common-inner{
        padding: 0 22px;
    }
    
}
