.sc-visual{}
.sc-visual .swiper{}
.sc-visual .swiper-wrapper{}
.sc-visual .swiper-slide{}

.sc-visual .swiper-slide .video-wrap{
    position: relative;
    width: 100%;
}
.sc-visual .swiper-slide .video-wrap video{
    object-fit: cover;
    width: 100%;
    height: 544px;
    pointer-events: none;
}
.sc-visual .swiper-slide .text{
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-size: 100px;
    line-height: 1.2;
    letter-spacing: -2.4px;
    font-weight: 800;
    color: #fff;
}
.sc-visual .swiper-slide .text br{display: none;}
.sc-visual .swiper-slide .text span{
    display: block;
    white-space: nowrap;
    width:0%;
    overflow: hidden;
    opacity: 0;
    transition: width 0.3s 0.8s,opacity 0.8s 0.8s;
}
.sc-visual .swiper-slide-active .text span{
    width: 100%;
    opacity: 1;
}



.sc-search{
    position: relative;
}
.sc-search .group-search{
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
    background: #fff;
}

.sc-search .select-flex{
    display: flex;
    align-items: center;
}
.sc-search .select-flex .icon-area{
    display: flex;
    align-items: center;
    width: 67px;
    height: 54px;
    padding: 0 28px 0 21px;
}
.sc-search .select-flex .search-icon{
    display: block;
    width: 18px;
    height: 18px;
    background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png) no-repeat -245px -40px;;
    background-size: 328px 205px;
}
.sc-search .key-area{
    display: flex;
    flex: 1;
}
.sc-search .key-area input{
    flex: 1;
    margin-right: 20px;
    line-height: 54px;
    cursor: pointer;
}
.sc-search .key-area ::placeholder{
    color: #d0d0d0;
    font-weight: bold;
}

.sc-search .title{
    font-size: 14px;
    margin-right: 9px;
    font-weight: bold;
    line-height: 54px;
}
.sc-search .text{
    padding-right: 20px;
    flex: 1;
}
.sc-search .cor-area{
    display: flex;
    flex: 1;
}
.sc-search .select-flex select{
    border: none;
    width: 100%;
    flex: 1;
    padding: 0 25px 0 9px;
    font-size: 14px;
    color: #d0d0d0;
    font-weight: bold;
    line-height: 54px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    font-family: var(--font-kr);
}
.sc-search .select-flex select:focus{
    outline: none; 
    border:transparent; 
}
.sc-search .select-flex select option{
    display: block;
    font-weight: normal;
    font-family: var(--font-en);
    letter-spacing: -0.3px;
    min-height: 1.2em;
    font-size: 14px;
}
.sc-search .select-flex select option[selected]{
    color: #d0d0d0;
}
.sc-search .select-flex select option:disabled{
    display: none;
}



.sc-search .select-flex input{
    border: none;
    outline: none;
    font-size: 14px;
}
.sc-search .job-area{
    display: flex;
    flex: 1;
}
.sc-search .btn-select{
    width: 97px;
    height: 54px;
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
}
.sc-search .btn-select:hover{
    background: #16ef72;
    color: #000;
}

.sc-search .group-search2{
    display: none;
    position: relative;
}


.sc-cont{}
.sc-cont.teams{
    background: #fafafa;
    padding-bottom: 89px;
}
.sc-cont.teams .headline{
    padding-top: 126px;
}
.sc-cont .subtitle{
    display: inline;
    vertical-align: middle;
    padding-right: 30px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.44px;
    font-weight: bold;
}
.sc-cont .more-link{
    display: inline-block;
    position: relative;
    font-size: 14px;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: -0.36px;
}
.sc-cont .more-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
}
.sc-cont.teams .link-group{
    margin-top: 70px;
}
.sc-cont.teams .link-group .item{
    display: block;
}
.sc-cont.teams .link-group .item:hover{
    background: #fafafa;
}
.sc-cont.teams .link-group .list{}
.sc-cont.teams .link-group .item{
    width: 100%;
}
.sc-cont.teams .link-group .item:hover{
    background: #ebebeb;
}
.sc-cont.teams .link-group .content{
    display: flex;
}
.sc-cont.teams .link-group .left-area{
    display: flex;
    flex: 1;
    padding: 20px 0;
}
.sc-cont.teams .link-group .left-area .title{
    font-size: 38px;
    line-height: 60px;
    letter-spacing: -0.34px;
    font-weight: normal;
}
.sc-cont.teams .link-group .left-area .num{
    display: inline-block;
    position: relative;
    vertical-align: top;
    position: relative;
    font-size: 15px;
    margin-left: 18px;
}
.sc-cont.teams .link-group .left-area .num::after{
    content: '';
    position: absolute;
    top: -1px;
    right: -14px;
    width: 9px;
    height: 9px;
    background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png) no-repeat -176px -105px;;
    background-size: 328px 205px;
}
.sc-cont.teams .link-group .right-area{
    flex: 1;
    padding: 20px 0 20px 15px;
}
.sc-cont.teams .link-group .right-area .subtitle{
    line-height: 60px;
    font-weight: normal;
}

.sc-cont.people{
    padding-top: 95px;
    overflow: hidden;
}
.sc-cont.people .swiper{
    overflow: initial;
}

.sc-cont{}
.sc-cont .swiper{
    position: relative;
}
.sc-cont .swiper-wrapper{
    padding-bottom: 68px;
}
.sc-cont .swiper-slide{
    position: relative;
    margin-top: 60px;
    /* width: 1097px; */
}

.sc-cont .swiper-slide a{
    position: absolute;
    display: block;
    top: 0;left: 0;
    bottom: 0;right: 0;
}
.sc-cont .swiper-slide .img-wrap{
    position: relative;
    width: 100%;
    padding-bottom: calc((520/1097)*100%);
    /* 56.25% 16:9 */
}
.sc-cont .swiper-slide .img-wrap img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-cont .swiper-slide .text-wrap{
    margin-top: 29px;
}
.sc-cont .swiper-slide .text-wrap .subtitle{
    line-height: 36px;
    font-size: 25px;
    letter-spacing: -0.5px;
    font-weight: bold;
}
.sc-cont .swiper-slide .text-wrap p{}
.sc-cont .swiper-slide .text-wrap .caption{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.28px;
    margin-top: 16px;
}
.sc-cont .swiper-slide .text-wrap .caption span{
    position: relative;
    margin-right: 12px;
}
.sc-cont .swiper-slide .text-wrap .caption span+span::after{
    position: absolute;
    top: 50%;
    left: -6px;
    transform: translateY(-50%);
    content: '';
    width: 1px;
    height: 10px;
    background: #000;
}
.sc-cont .swiper .control-area{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.sc-cont .swiper .control-area button{
    width: 33px;
    height: 32px;
}
.sc-cont .swiper .control-area .prev-btn{
    background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png) no-repeat -187px -172px; 
    background-size: 328px 205px;
}

.sc-cont .swiper .control-area .next-btn{
    background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png) no-repeat -113px -172px;; 
    background-size: 328px 205px;
}
.sc-cont .swiper .control-area .swiper-button-disabled{
    opacity: 0.4;
}


.sc-cont .swiper-slide .text-wrap .company{}
.sc-cont .swiper-slide .text-wrap .name{}

.sc-cont.benefits{
    padding-top: 112px;
}
.sc-cont.benefits .swiper{}
.sc-cont.benefits .swiper-wrapper{}
.sc-cont.benefits .swiper-slide{}
.sc-cont.benefits .swiper-slide .img-wrap{
    padding-bottom: 100%;
}
.sc-cont.benefits .swiper-slide img{}
.sc-cont.benefits .swiper-slide .subtitle{}
.sc-cont.benefits .swiper-slide .desc{
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.36px;
}




.sc-board{
    padding: 95px 0 102px;
}
.sc-board .text-wrap{}
.sc-board .text-wrap .subtitle{
    font-size: 25px;
}
.sc-board .text-wrap .desc{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.36px;
    margin-top: 18px;
}
.sc-board .text-wrap .desc::after{
    position: absolute;
    content: '';
    width: 33px;
    height: 32px;
    margin-left: 11px;
    background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png) no-repeat -76px -172px;;
    background-size: 328px 205px;
}


/* 지금까지잡았던소스 1230까지 잘나오아햐마 */


/* 작은pc [1025px]까지만잡히면끝. */
@media (max-width:1229px) {
    .sc-visual .swiper-slide .text{
        font-size: 80px;
    }
    

    .sc-cont .swiper-slide .text-wrap br{display: none;}
}


/* 모바일버전 [768px]까지만잡히면끝. */
@media (max-width:1024px) {
    .sc-visual .swiper-slide .text{
        font-size: 60px;
    }
    
    .chk-wrap {}

    .chk-wrap input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        margin: -1px;
    }

    .chk-wrap input:checked+label::before {
        background: #000;
    }

    .chk-wrap label {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 14px;
    }

    .chk-wrap label::before {
        content: '';
        width: 8px;
        height: 8px;
        border: 1px solid #d0d0d0;
        border-radius: 50%;
    }
    .chk-wrap.depth-title {
        margin-top: 14px;
        padding-left: 0;
    }

    .sc-search .group-search{display: none;}

    .sc-search .group-search2{
        display: block;
        position: relative;
        width: 100%;
        height: 42px;
        color: #696868;
        padding: 10px 45px 10px 10px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.28px;
        background: #ebebeb;
        margin-top: 22px;
    }
    .sc-search .group-search2::after{
        position: absolute;
        content: '';
        top: 12px;
        right: 10px;
        width: 19px;
        height: 19px;
        background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_mo.png) no-repeat -140px -125px;
        background-size: 195px 181px;
    }
    .sc-search .group-search2 .btn-search{
        display: block;
        width: 100%;
        text-align: left;
    }


    .sc-search .group-search2 .pop-search{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: #fff;
        width: 100%;
        height: 100%;
        padding: 60px 32px;
        overflow: auto;
        color: #000;
    }
    .sc-search .group-search2 .pop-search.show{
        display: block;
    }
    .sc-search .group-search2 .pop-search .list{
        margin-bottom: 10px;
        padding: 0;
        
    }
    .sc-search .group-search2 .pop-search .list .pop-title{
        font-size: 14px;
        line-height: 26px;
        letter-spacing: -0.28px;
        font-weight: bold;
    }
    .chk-wrap label{
        line-height: 26px;
        padding-left: 0;
    }
    .sc-search .group-search2 .search-box{
        display: block;
        width: 100%;
        text-align: left;
    }
    .sc-search .group-search2 .search-wrap{
        position: relative;
    }
    .sc-search .group-search2 .search-wrap::after{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 15px;
        height: 15px;
        background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png) no-repeat -268px -40px;
        background-size: 328px 205px;
    }
    .sc-search .group-search2 .btn-search{
        line-height: 26px;
        letter-spacing: -0.28px;
        text-align: left;
        width: 100%;
        padding: 6px 0;
        font-size: 14px;
        border: none;
        background: none;
        outline: none;
        border-bottom: 1px solid #d0d0d0;
        cursor: pointer;
    }
    .sc-search .group-search2 .btn-search::placeholder{
        color: #d0d0d0;
    }


    .sc-search .group-search2 .list{
        margin-top: 45px;
    }
    .sc-search .group-search2 .list span{
        font-size: 14px;
        line-height: 26px;
        letter-spacing: -0.28px;
        font-weight: bold;
        color: #000;
    }
    .sc-search .group-search2 .item .depth1{
        display: block;
        position: relative;
        font-size: 14px;
        line-height: 26px;
        margin-top: 14px;
        font-weight: normal;
        color: #000;
        font-family: var(--font-kr);
        padding-left: 19px;
    }
    .sc-search .group-search2 .item .depth1::before{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 5px;
        background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png) no-repeat -136px -93px;
        background-size: 328px 205px;
    }
    .sc-search .group-search2 .item .sub{
        display: none;
        font-family: var(--font-kr);
        padding-left: 19px;
        margin: 4px 0 18px;
    }
    .sc-search .group-search2 .item .sub.on{
        display: block;
    }
    .sc-search .group-search2 .item .sub label{
        line-height: 26px;
    }
    .sc-search .group-search2 .depth2 li{
        margin-top: 14px;
    }
    .sc-search .group-search2 .depth2 li>a{
        position: relative;
        padding-left: 19px;
    }
    .sc-search .group-search2 .depth2 li>a::before{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 5px;
        background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_pc.png) no-repeat -136px -93px;
        background-size: 328px 205px;
    }
    .sc-search .group-search2 .depth2 .depth3{
        display: none;
    }
    .sc-search .group-search2 .depth2 .depth3.on{
        display: block;
    }
    .sc-search .group-search2 .depth2 .depth3 li{
        padding-left: 22px;
    }
    .sc-search .group-search2 .btn-clear{
        margin-top: 42px;
        line-height: 22px;
        font-size: 12px;
        text-decoration: underline;
    }
    .sc-search .group-search2 .btn-close{
        display: block;
        position: absolute;
        content: '';
        top: 24px;
        left: 22px;
        width: 14px;
        height: 14px;
        background: url(https://recruit.navercorp.com/share/tmplat/naver/img/sp_mo.png) no-repeat -110px -28px;
        background-size: 195px 181px;
    }
    

    .sc-cont .headline {
        padding-top: 60px;
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 11px;
    }
    .sc-cont.teams .headline{ 
        padding-top: 60px;
    }
    .sc-cont .subtitle {
        font-size: 16px;
    }
    .sc-cont.teams .link-group {
        margin-top: 40px;
    }
    

/* 모바일버전 [320]까지만잡히면끝. */
@media (max-width:767px) {

    .sc-visual .swiper-slide .text{
        font-size: 40px;
    }
    .sc-visual .swiper-slide .text span{width: 100%;}
    .sc-visual .swiper-slide .text br{
        display: block;
    }

    .sc-visual .swiper-slide .video-wrap{
        position: relative;
        padding-bottom: calc((293/470)*100%);
    }
    .sc-visual .swiper-slide .video-wrap video{
        height: 100%;

        position: absolute;
        top: 0;left: 0;
    }


    .sc-cont.teams .link-group .content{
        flex-direction: column;
    }

    
    .sc-cont.teams .link-group .left-area{
        padding: 30px 0 0 0;
        
    }
    .sc-cont.teams .link-group .right-area{
        padding: 0 0 22px 0;
        line-height: 38px;
    }
    .sc-cont.teams .link-group .left-area .title{
        line-height: 38px;
    }




    .sc-cont.teams .link-group .left-area .title{
        font-size: 24px;
    }
    


    .sc-cont .swiper-slide .img-wrap{
        padding-bottom: 100%;
    }

