:root {
    --font-en: 'TTHoves', sans-serif;
    --font-kr: 'NanumSquare', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
    flex-shrink: 0;
}

html,
body {
    height: 100%;
    line-height: 1;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}
fieldset{
    border: 0;
}

a {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul {
    list-style: none;
}

body {
    font-family: 'TTHoves', 'NanumSquare', sans-serif;
    font-size: 22px;
    letter-spacing: -0.44px;
    color: #000;
}