@font-face {
    font-family: 'Apercu';
    src: url('../font/apercu-medium.woff2') format('woff2');
    font-weight: medium;
}
@font-face {
    font-family: 'Apercu';
    src: url('../font/apercu-regular.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'larken';
    src: url('../font/larken.woff2') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'larken';
    src: url('../font/larken.woff2') format('woff2');
    font-weight: normal;
}
