.sc-visual {
    display: flex;
    justify-content: space-between;
}

.sc-visual .main-group {
    display: flex;
    width: 770px;
    height: 350px;
}

.sc-visual .btn-area {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
    width: 80px;
}

.sc-visual .btn {
    width: 100%;
    height: 175px;
    background: #d2e1e9;
}

.sc-visual .btn.on {
    position: relative;
    background: #0158a8;
    color: #fff;
}

.sc-visual .btn-area .on::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 99%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 32px;
    border-color: transparent transparent transparent #0158a8;
    margin-top: -25px;
}

.sc-visual .btn-news .news {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    background-color: #fff;
    border-radius: 50%;
    background: #fff url(https://www.seoul.go.kr/res_newseoul/images/main/icon_main_2019.png) no-repeat 0 0;
}

.sc-visual .btn-citizen {
    width: 80px;
    height: 175px;
    background: #d2e1e9;
}

.sc-visual .btn-citizen .citizen {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    background-color: #fff;
    border-radius: 50%;
    background: #fff url(https://www.seoul.go.kr/res_newseoul/images/main/icon_main_2019.png) no-repeat -50px 0;
}

.sc-visual .swiper {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 690px;
    height: 350px;
}

.sc-visual .swiper .swiper-wrapper {
    position: relative;
}

.sc-visual .swiper .swiper-slide a {
    display: flex;
}

.sc-visual .swiper .swiper-slide a img {
    width: 100%;
}

.sc-visual .swiper .swiper-slide a p {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 40px;
    width: 690px;
    height: 40px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;

}

.sc-visual .swiper .control-area {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 40px;
    flex: 1;
    z-index: 1;
    color: #fff;
}

.sc-visual .swiper .control-area .pagination {
    width: auto;
    font-size: 13px;
    margin-right: 10px;
}

.sc-visual .swiper .control-area .btn {
    width: 20px;
    height: 20px;
    background: #f00;
}

.sc-visual .swiper .btn.prev {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png) no-repeat -237px -284px;
}

.sc-visual .swiper .btn.prev::before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 18px;
    margin-right: 20px;
    background: rgba(255, 255, 255, .5);
}

.sc-visual .swiper .btn.auto {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png) no-repeat -269px -284px;
    margin-left: 5px;
}

.sc-visual .swiper .btn.auto.on {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png) no-repeat -283px -284px;
}


.sc-visual .swiper .btn.next {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png) no-repeat -255px -284px;
}

.sc-visual .sub-group {
    display: flex;
    width: 360px;
    flex-direction: column;
    justify-content: space-between;
}

.sc-visual .sub-group .sc-covid {
    display: flex;
    position: relative;
    align-items: center;
    height: 36px;
    padding: 0 5px;
    background: #99ddf4;
}

.sc-visual .sub-group .sc-covid:before {
    position: absolute;
    content: '';
    width: 54px;
    height: 16px;
    margin-right: 5px;
    margin-top: 1px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/tit-corona.png) no-repeat center 100%;
}

.sc-visual .sub-group .sc-covid .text-wrap {
    display: flex;
    color: #fff;
    text-align: left;
    margin-left: auto;
    align-items: center;
}

.sc-visual .sub-group .sc-covid .text-wrap .counter {
    display: inline-block;
    background: #319ac6;
    font-size: 14px;
    height: 21px;
    border-radius: 5px 0 0 5px;
    padding: 0 5px;
    line-height: 21px;
    margin: 0 5px;
}

.sc-visual .sub-group .sc-covid .text-wrap .counter strong {
    font-size: 16px;
    font-weight: bold;
}

.sc-visual .sub-group .sc-covid .text-wrap a {
    position: relative;
    display: inline-block;
    font-size: 13px;
    height: 21px;
    line-height: 21px;
    background: #000;
    border-radius: 5px;
    padding: 0 13px 0 5px;
    margin-left: -5px;
}

.sc-visual .sub-group .sc-covid .text-wrap a::after {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    content: '';
    width: 8px;
    height: 11px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico-triangle.png) no-repeat 0 0;
}

.sc-visual .sub-group .sc-covid .text-wrap .date {
    font-size: 12px;
    margin-left: 8px;
    line-height: 16.2px;
    color: #000;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.sc-visual .sub-group .sc-municipal{
    position: relative;
    font-size: 16px;
    height: 204px;
    background: #f00;
}

.sc-visual .sub-group .sc-municipal .img-wrap img {
    width: 100%;
}

.sc-visual .sub-group .sc-municipal .desc {
    width: 100%;
    height: 40px;
    line-height: 40px;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: rgba(0, 0, 0, .7);
}

.sc-visual .sub-group .sc-mayor {
    position: relative;
    height: 90px;
    background: #f00;
}

.sc-visual .sub-group .sc-mayor .des {
    position: absolute;
    top: 0;
    right: 0;
    margin: 19px 14px;
}

.sc-visual .sub-group .sc-mayor .sub-area {
    display: flex;
    gap: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 26px;
}

.sc-visual .sub-group .sc-mayor .sub-area a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    background: #8b7153;
}

.sc-service {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.sc-service .head-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sc-service .head-group::after {
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #dbdbdb;
}

.sc-service .head-group .headline {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.35em;
}

.sc-service .more-link {
    position: absolute;
    left: 140px;
    font-size: 15px;
    width: 112px;
}

.sc-service .more-link a {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    text-align: center;
    height: 29px;
    border: 1px solid #ddd;
    padding-left: 13px;
}

.sc-service .more-link a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 13px;
    width: 6px;
    height: 11px;
    transform: translateY(-50%);
    background: #0f0;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_link6.png) no-repeat;
}

.sc-service .sub-area {
    display: flex;
}

.sc-service .sub-area .story {
    position: relative;
    width: 65px;
    height: 30px;
    display: block;
    margin-right: 14px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/logo_event.png) no-repeat 0 0;
}

.sc-service .sub-area .story:hover {
    background-position: 0 -30px;
}

.sc-service .sub-area .story::after {
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    display: inline-block;
    content: '';
    width: 1px;
    height: 16px;
    background: #dbdbdb;
}

.sc-service .sub-area .festival {
    width: 96px;
    height: 30px;
    display: block;
    margin-left: 14px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/logo_event.png) no-repeat 100% 0;
}

.sc-service .sub-area .festival:hover {
    background-position: 100% -30px;
}

.sc-service .list {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.sc-service .item a {
    display: block;
}

.sc-service .item .service:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -360px 0;
    content: '';
}

.sc-service .item .feedback:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat 0 0;
    content: '';
}

.sc-service .item .work:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -120px 0;
    content: '';
}

.sc-service .item .info:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -300px 0;
    content: '';
}

.sc-service .item .run:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -180px 0;
    content: '';
}

.sc-service .item .welfare:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -960px 0;
    content: '';
}

.sc-service .item .house:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -780px 0;
    content: '';
}

.sc-service .item .youth:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -1140px 0;
    content: '';
}

.sc-service .item .hand:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -1020px 0;
    content: '';
}

.sc-service .item .think:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -60px 0;
    content: '';
}

.sc-service .item .ebook:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -1080px 0;
    content: '';
}

.sc-service .item .city:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_service_202205.png) no-repeat -600px 0;
    content: '';
}

.sc-quick {
    background: #eff4f8;
    height: 110px;
    margin-top: 35px;
}

.sc-quick .list {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.sc-quick .item a {
    position: relative;
    display: block;
    width: 230px;
    height: 70px;
}

.sc-quick .item ::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 60px;
    background: #dbdbdb;
}

.sc-quick .item .img5::after {
    display: none;
}

.sc-quick .item .img1 {
    background: url(https://www.seoul.go.kr/upload/imgBanner/IMGBANNER_20230201090733_85200.jpg) no-repeat;
}

.sc-quick .item .img2 {
    background: url(https://www.seoul.go.kr/upload/imgBanner/IMGBANNER_20230201090819_94378.jpg) no-repeat;
}

.sc-quick .item .img3 {
    background: url(https://www.seoul.go.kr/upload/imgBanner/IMGBANNER_20230531180052_46397.jpg) no-repeat;
}

.sc-quick .item .img4 {
    background: url(https://www.seoul.go.kr/upload/imgBanner/IMGBANNER_20230201091039_10607.jpg) no-repeat;
}

.sc-quick .item .img5 {
    background: url(https://www.seoul.go.kr/upload/imgBanner/IMGBANNER_20230201091157_32939.jpg) no-repeat;
}

.inner2{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 2px solid #222;
}

.sc-board {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 360px;
}



.sc-board .headline {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.35em;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.sc-board .board-header {
    position: relative;
}

.sc-board .more-link {
    position: absolute;
    top: 5px;
    right: 0;
}

.sc-board .more-link a {
    display: block;
    width: 20px;
    height: 20px;
    background: #f00;
    border: 1px solid #ddd;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png) no-repeat -1px -1px;
}

.sc-board .item a {
    display: flex;
    font-size: 15px;
    min-width: 0;
    gap: 10px;
    padding: 6px 0;
    line-height: 1.35em;
}

.sc-board .item a .part-admin {
    color: #028ab6;
}

.sc-board .item a .part-culture {
    color: #9b64d3;
}

.sc-board .item a .part-house {
    color: #c35c3c;
}

.sc-board .item a .part-wealfare {
    color: #d76000;
}

.sc-board .item a .part-natural {
    color: #599100;
}

.sc-board .item .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.sc-often{
    width: 360px;
    height: 39.4px;
}

.sc-often .headline {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.35em;
    padding-bottom: 5px;
}

.sc-often .list-wrap {
    background: #eff4f8;
    padding: 17px 5px 7px 20px;
}

.sc-often .list {
    width: 335px;
}

.sc-often .item {
    display:inline-block;
    width: 148px;
    line-height: 1.35em;
    padding-bottom: 10px;;
}

.sc-often .item a {
    display: block;
    position: relative;
    padding: 0;
    font-size: 15px;
}

.sc-often .item a::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    width: 2px;
    height: 2px;
    background: #666;
}

.sc-often .item span {
    padding-left: 10px;
}

.sc-part {
    padding-top: 40px;
    height: 197px;
}

.sc-part .headline {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.sc-part .list {
    display: flex;
    justify-content: space-between;
    padding: 0 27px;
}

.sc-part .item {
    width: 85px;
    text-align: center;
}

.sc-part .item .house {
    display: block;
    width: 100%;
    height: 85px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_house.png) no-repeat;
}

.sc-part .item .economy {
    display: block;
    width: 100%;
    height: 85px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_economy.png) no-repeat;
}

.sc-part .item .taffic {
    display: block;
    width: 100%;
    height: 85px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_traffic.png) no-repeat;
}

.sc-part .item .nature {
    display: block;
    width: 100%;
    height: 85px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_environment.png) no-repeat;
}

.sc-part .item .welfare {
    display: block;
    width: 100%;
    height: 85px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_welfare.png) no-repeat;
}

.sc-part .item .safe {
    display: block;
    width: 100%;
    height: 85px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_safty.png) no-repeat;
}

.sc-part .item .culture {
    display: block;
    width: 100%;
    height: 85px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_culture.png) no-repeat;
}

.sc-part .item .admin {
    display: block;
    width: 100%;
    height: 85px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_work.png) no-repeat;
}

.sc-part .item span {
    display: block;
    padding-top: 100px;
}

.sc-news {
    position: relative;
    padding: 20px 0 30px;
} 

.sc-news .headline {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.sc-news .link-more a{
    display: block;
    position: absolute;
    top: 29px;
    right: 0;
    align-items: baseline;
    padding-right: 25px;
}

.sc-news .link-more a::after {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -4px;
    right: 0;
    content: '';
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png) no-repeat -59px -256px;
}

.sc-news .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 271px);
    gap: 20px;
}

.sc-news .item {
    width: 273px;
}

.sc-news .item a .img-wrap {
    position: relative;
    margin-bottom: 15px;
}

.sc-news .item a .img-wrap .clip {
    position: absolute;
    width: 82px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 32px;
}

.sc-news .item a .img-wrap .safe {
    width: 82px;
    height: 32px;
    background: #e44869;
}

.sc-news .item a .img-wrap .welfare {
    width: 82px;
    height: 32px;
    background: #d76000;
}

.sc-news .item a .img-wrap .taffic {
    width: 82px;
    height: 32px;
    background: #337ee2;
}

.sc-news .item a .img-wrap .house {
    width: 82px;
    height: 32px;
    background: #c35c3c;
}

.sc-news .item a .text-wrap .title {
    font-size: 16px;
    line-height: 1.5em;
}

.sc-seoul {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.sc-seoul .group-video {
    width: 280px;
}

.sc-seoul .group-video .headline {
    font-size: 24px;
    padding-bottom: 11px;
    font-weight: 700;
    line-height: 1.35em;
}

.sc-seoul .group-video a {
    display: flex;
    flex-direction: column;
    width: 280px;
    position: relative;
}

.sc-seoul .group-video a .title {
    width: 240px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    padding: 11px 20px;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    color: #fff;
}

.sc-seoul .group-news .headline {
    font-size: 24px;
    padding-bottom: 11px;
    font-weight: 700;
    line-height: 1.35em;
}

.sc-seoul .group-news .list {
    display: flex;
    width: 480px;
    flex-direction: column;
}

.sc-seoul .group-news .item {
    display: flex;
    padding: 8px 0;
    line-height: 1.35em;
}

.sc-seoul .group-news .item a {
    display: flex;
    min-width: 0;
}

.sc-seoul .group-news .item .badge {
    display: inline-block;
    margin-right: 18px;
    color: #09ac43;
}

.sc-seoul .group-news .item .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}




.sc-seoul .group-sns {
    width: 350px;
    position: relative;
}

.sc-seoul .group-sns .sns-wrap {
    position: relative;
    justify-content: center;
}

.sc-seoul .group-sns .headline {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.35em;
    padding: 10px 15px 0 15px;
}

.sc-seoul .group-sns a .img-wrap img {
    width: 100%;
    height: 195px;
}

.sc-seoul .group-sns .list {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 276px;
}

.sc-seoul .group-sns .item a {
    display: block;
    width: 40px;
    height: 40px;
}

.sc-seoul .group-sns .item .insta {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401) no-repeat;
}

.sc-seoul .group-sns .item .facebook {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401) no-repeat -40px 0;
}

.sc-seoul .group-sns .item .twiter {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401) no-repeat -80px 0;
}

.sc-seoul .group-sns .item .naver {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401) no-repeat -120px 0;
}

.sc-seoul .group-sns .item .youtube {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401) no-repeat -160px 0;
}

.sc-seoul .group-sns .item .kakao {
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/ico_sns_list_202205.png?ver=20210401) no-repeat -200px 0;
}


.sc-banner {
    height: 159px;
    padding: 50px 0;
    border-top: 2px solid #222;
}


.sc-banner .swiper-slide {
    width: 355px;
    height: 122px;
}

.sc-banner .control-area {
    display: flex;
    align-items: center;
    height: 32px;
    margin-top: 5px;
}

.sc-banner .pagination {
    margin-left: auto;
    width: auto;
    display: block;
    font-size: 14px;
    margin-right: 7px;
}

.sc-banner [class*='btn-'] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #00f;
    border: 1px solid #ddd;
}

.sc-banner .btn-prev {
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png) no-repeat -45px -43px;
}

.sc-banner .btn-auto {
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png) no-repeat -101px -43px;
}
.sc-banner .btn-auto.on {
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png) no-repeat -65px -43px;;
}

.sc-banner .btn-next {
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png) no-repeat -86px -43px;
}



.sc-related {
    margin-bottom: 20px;
    height: 52.9px;
}

.sc-related .list {
    display: flex;
    position: relative;
}

.sc-related .item {
    flex: 1;
    text-align: center;
    font-size: 14px;
    border: 1px solid #d0d0d0;
    background: #f7f7f7;
}

.sc-related .item .link {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 16px 0;
}

.sc-related .item .link span {
    padding-right: 20px;
    flex: 1;
}

.sc-related .sub {
    display: none;
    position: absolute;
    background: #fff;
    bottom: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #d0d0d0;
    z-index: 1;
    box-sizing: border-box;
}

.sc-related .sub .sub-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px 20px;
    text-align: left;
}
.sc-related .sub-list a {
    display: block;
    font-size: 14px;
    color: #555;
    line-height: 1.35em;
    margin-top: 10px;
}

.sc-related .sub li {
    width: 25%;
}

.sc-related .item .link.on {
    background: #e2e2e2;
}

.sc-related .item .link.on span::after {
    top: 4px;
    transform: rotate(45deg);
    transform-origin: center center;
}

.sc-related .item .link .sub {
    display: none;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    bottom: 100%;
    padding: 10px 20px 20px;
    overflow: hidden;
    background: #fff;
    z-index: 1;
    border: 1px solid #e2e2e2;
}


.sc-related .item .link .sub.on {
    display: block;
}

.sc-related .item .link .sub li {
    float: left;
    width: 25%;
    margin-top: 10px;
}

.sc-related .item .link .sub a {
    display: block;
    font-size: 14px;
    text-align: left;
    color: #555;
    line-height: 1.35em;
}

.sc-related .list li+li {
    border-left: none;
}

.sc-related .item span {
    position: relative;
    line-height: 1.35em;
}

.sc-related .item span::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 0px;
    height: 7px;
    width: 7px;
    border-style: solid;
    border-color: #373737;
    border-width: 0px 2px 2px 0px;
    transform: rotate(-135deg);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center center;
}

.sc-related .item .link-ohter {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 16px 0;
}