@import './font.css';
@import '../css/reset.css';
@import '../css/common.css';

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background:#000;
    z-index: 50;
  }
  
  .progress-container {
      position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    color: #fe330a;
    padding: 0 100px;
    text-align: center;
    font-family: 'NBInternational';
    font-weight: 100;
  }
  
  .progress-container label {
    font-size: 1vw;
    opacity: 0;
    display:inline-block;
  }
  
  @keyframes anim {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
    }
  }
  
  @-webkit-keyframes anim {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    66% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(300px);
    }
  }

.mouse{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 0vw;
    height: 0vw;
    border-radius: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform-origin: 100% 100%;
    backdrop-filter: invert(100%);
}
.mouse .click{
    display: flex;
    align-items: center;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    background: #fe330a;
    font-size: 1vw;
    font-weight: 100;
    transition: .3s;
}
.mouse .drag{
    display: flex;
    align-items: center;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    background: #fe330a;
    font-size: 1vw;
    font-weight: 100;
    transition: .3s;
}

.mouse.arrow .drag{
    visibility: visible;
    opacity: 1;
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
    line-height: 4vw;
}
.mouse.contact .click{
    visibility: visible;
    opacity: 1;
    width: 10vw;
    height: 10vw;
    font-size: 2vw;
    line-height: 2vw;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 2em;
    z-index: 10;
    transform: translateY(0%);
    transition: .3s;
}
.header.off{
    transform: translateY(-100%);
    
}
.header .logo{
    width: 100px;
    height: 100px;
}
.header .logo a{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: url('../images/logo.svg') no-repeat center;
}
.header .logo a:hover{
    animation: bomb1 0.3s ease;
}
@keyframes bomb1 {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
  }
@keyframes bomb2 {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
  }

.header .nav-wrap{
    display: flex;
    align-items: center;
    gap: .5em;
}
.header .nav-wrap .contact-btn{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40px;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 50px;
    align-items: center;
    padding: 0.625em 1.5em;
    font-family: 'NBInternational';
    font-weight: 100;
    line-height: 1;
    text-decoration: none;
    font-size: 1em;
    overflow: hidden;
    transition: .3s;
}
.header .nav-wrap .contact-btn:hover{
    position: relative;
    color: transparent;
    border: 0.8px solid #fff;
    background: rgba(61, 61, 61, 0.2);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.header .nav-wrap .contact-btn .img-wrap{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}
.header .nav-wrap .contact-btn .img-wrap .face{
    width: 100%;
    height: auto;
}
.header .nav-wrap .contact-btn .img-wrap .hand{
    position: absolute;
    top: 40%;
    left: 3%;
    width: 40%;
    height: auto;
    animation: handInfi 2s ease-in-out infinite;
}
@keyframes handInfi {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(15deg);
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(15deg);
    }
    60% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.header .nav-wrap .contact-btn .link-wrap{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 20%;
    padding: 0 0.5vw;
}
.header .nav-wrap .contact-btn .link-wrap a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .3s;
}

.header .nav-wrap .contact-btn .link-wrap a:hover{
    color: #000;
    background: #fe330a;
    animation: bomb2 0.3s ease;
}
.header .nav-wrap .contact-btn .link-wrap a i{
    font-size: 15px;
    color: #fff;
}
.header .nav-wrap .contact-btn .link-wrap .velog{
    width: 30px;
    height: 30px;
}

.footer {
    position: sticky;
    bottom:0;
    height: auto;
}

.footer .sticky-wrap {
    overflow: hidden;
}
.footer .bg{}
.footer .bg .footer-gradient_wrapper{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-10.0004deg)  skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
}
.footer .bg .footer-gradient_wrapper .footer-shape-1{
    z-index: 1;
    width: 103em;
    height: 32em;
    filter: blur(40px);
    background-color: #ff9831;
    background-image: linear-gradient(110deg, #ff9831, #fe330a 43%);
    border-radius: 999em;
    position: absolute;
    top: -17em;
    bottom: auto;
    left: -19em;
    right: auto;
    transform: rotate(-13deg);
    animation: complex-animation5 10s infinite;
}
.footer .bg .footer-gradient_wrapper .footer-shape-2{
    z-index: 1;
    width: 103em;
    height: 32em;
    filter: blur(40px);
    background-color: #ff9831;
    background-image: linear-gradient(152deg, #ff9831, #fe330a 43%);
    border-radius: 999em;
    position: absolute;
    top: -10em;
    bottom: auto;
    left: auto;
    right: -39em;
    transform: rotate(-13deg);
    animation: complex-animation6 10s infinite;
    animation-delay: 2s;
}


.footer .content{
    display: flex;
    flex-direction: column;
}
.footer .content .top-group{
    display: flex;
    justify-content: space-between;
    padding-left: 5.625em;
    padding-right: 5.625em;
    margin-top: 11.25em;
    z-index: 2;
}
.footer .content .top-group .btn-wrap{
    display: flex;
    flex-direction: column;
    text-align-last: left;
    gap: 10px;
}
.footer .content .top-group .btn-wrap button{
    letter-spacing: -.03em;
    font-family: 'NBInternational', sans-serif;
    font-size: 2em;
    font-weight: b;
    line-height: 1;
}
.footer .content .top-group .text-wrap{
    width: 50%;
    text-align: right;
}
.footer .content .top-group .text-wrap p{
    font-size: 1vw;
    font-family: 'NanumSquareRound';
    line-height: 1.5;
}

.footer .content .top-group .btn-wrap .btn-work{}

.footer .content .bottom-group{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: 5rem 2rem 0;
    padding-bottom: 20px;
}
.footer .content .bottom-group .text{
    font-size: 15vw;
    font-family: 'Rejouice';
    font-weight: bold;
    margin-top: 0.5em;
}
.footer .content .sns-area{
    display: flex;
    justify-content: space-between;
    margin: 0em 2rem;
    padding: 2rem;
    border-top: 1px solid #fff;
}
.footer .content .sns-area .git i{
    display: block;
    font-size: 2vw;
}
.footer .content .sns-area a img{
    display: block;
    width: 2vw;
    height: 2vw;
}

.footer .btn-purpo:hover,
.footer .btn-work:hover,
.footer .btn-contact:hover,
.footer .sns-area a:hover{
    animation: bomb1 0.3s ease;
}



/* 모바일버전 [768px]까지만잡히면끝. */
@media (max-width:1024px) {
    .header{
        max-width: 1024px;
    }
    .header .logo{
        width: 100px;
        height: 100px;
    }
    .header .nav-wrap .contact-btn .img-wrap{
        width: 80%;
        height: auto;
    }
    .header .nav-wrap .contact-btn .link-wrap{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 20%;
        padding: 0 0.5vw;
        visibility: hidden;
    }
    .header .nav-wrap .contact-btn:hover{
        position: relative;
        color: #fff;
        border: 0.8px solid #fff;
        background: rgba(61, 61, 61, 0.2);
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .footer .content .bottom-group{
        font-size: 15vw;
    }
    .footer .content .sns-area .git i{
        font-size: 4vw;
    }
    .footer .content .sns-area a img{
        width: 4vw;
        height: 4vw;
    }
    .mouse.contact .click{
        width: 15vw;
        height: 15vw;
        font-size: 2.5vw;
        line-height: 2vw;
    }

    .footer .content .top-group .text-wrap p{
        font-size: 2vw;
        width: 100%;
        font-family: 'NanumSquareRound';
        line-height: 1.5;
    }
}
    

/* 모바일버전 [320]까지만잡히면끝. */
@media (max-width:767px) {
    .header{
        min-width: 320px;
    }
    .header .logo{
        width: 70px;
        height: 70px;
    }
    .header .nav-wrap .contact-btn .img-wrap{
        width: 80%;
        height: auto;
    }
    .header .nav-wrap .contact-btn:hover{
        color: transparent;
    }
    .header .nav-wrap .contact-btn:hover .img-wrap{
        width: 100%;
    }
    .header .nav-wrap .contact-btn:hover .link-wrap{
        visibility: visible;
    }
    .footer .content .top-group{
        flex-direction: column;
        align-items: center;
        margin-top: 10.25em;
        padding: 0 10vw;
    }
    .footer .content .top-group .btn-wrap{
        flex-direction: row;
        gap: 50px;
    }
    .footer .content .bottom-group{
        font-size: 14.5vw;
    }
    .footer .content .top-group .text-wrap{
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .footer .content .top-group .text-wrap p{
        font-size: 4vw;
        width: 100%;
        font-family: 'NanumSquareRound';
        line-height: 1.5;
    }
    .footer .bg .footer-gradient_wrapper .footer-shape-2{
        top: -15em;
    }
    .footer .content .sns-area{
        padding: 2rem 5vw;
        margin: 0;
    }
    .footer .content .sns-area .git i{
        font-size: 11vw;
    }
    .footer .content .sns-area a img{
        width: 11vw;
        height: 11vw;
    }
}
