.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.common-inner{
    padding: 0 2em;
}

@keyframes complex-animation1 {
    0% {
      transform: scale(1) rotate(0deg);
      width: 35em;
      height: 38em;
    }
    25% {
      transform: scale(1.2) rotate(45deg);
      width: 40em;
      height: 32em;
    }
    50% {
      transform: scale(1) rotate(90deg);
      width: 32em;
      height: 40em;
    }
    75% {
      transform: scale(1.2) rotate(135deg);
      width: 32em;
      height: 40em;
    }
    100% {
        transform: scale(1) rotate(0deg);
        width: 35em;
        height: 38em;
    }
  }
@keyframes complex-animation2 {
    0% {
      transform: scale(1) rotate(45deg);
      width: 34em;
      height: 50em;
    }
    25% {
      transform: scale(1.2) rotate(60deg) translateY(30);
      width: 32em;
      height: 55em;
    }
    50% {
      transform: scale(1) rotate(90deg);
      width: 32em;
      height: 55em;
    }
    75% {
      transform: scale(1.2) rotate(110deg);
      width: 36em;
      height: 51em;
    }
    100% {
      transform: scale(1) rotate(45deg);
      width: 34em;
      height: 50em;
    }
  }
@keyframes complex-animation3 {
    0% {
      transform: scale(1) rotate(0deg);
      width: 36em;
      height: 36em;
    }
    25% {
      transform: scale(1.2) rotate(45deg);
      width: 40em;
      height: 32em;
    }
    50% {
      transform: scale(1) rotate(90deg);
      width: 32em;
      height: 40em;
    }
    75% {
      transform: scale(1.2) rotate(135deg);
      width: 32em;
      height: 40em;
    }
    100% {
      transform: scale(1) rotate(180deg);
      width: 36em;
      height: 36em;
    }
  }
@keyframes complex-animation4 {
    0% {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.2) rotate(45deg);
    }
    50% {
      transform: scale(1) rotate(90deg);
    }
    75% {
      transform: scale(0.9) rotate(135deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
@keyframes complex-animation5 {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
@keyframes complex-animation6 {
    0% {
      transform: rotate(15deg) scale(1);
    }
    25% {
      transform: rotate(20deg) scale(1.1);
    }
    50% {
      transform: rotate(18deg) scale(1);
    }
    75% {
      transform: rotate(18deg) scale(1.1);
    }
    100% {
      transform: rotate(15deg) scale(1);
    }
  }