.container{
    position: relative;
    background: #000;
    z-index: 1;
}
.sc-visual{
    position: relative;
    overflow: hidden;
}
.sc-visual .bg{
    position: absolute;
    top: 5em;
    bottom: auto;
    left: auto;
    right: 0;
    width: 54em;
    height: 58em;
    transform-style: preserve-3d;
    will-change: transform;
    z-index: 2;
    transform: translate3d(-2.83324%, 2.83324%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-52.5008deg) skew(0deg, 0deg);
}
.sc-visual .bg .main-shape-1{
    width: 35em;
    height: 38em;
    filter: blur(25px);
    background: #fe330a;
    border-radius: 999em;
    position: absolute;
    top: 32.4em;
    bottom: auto;
    left: 8.4em;
    right: auto;
    animation: complex-animation1 10s infinite;
}

.sc-visual .bg .main-shape-2{
    width: 34em;
    height: 60em;
    filter: blur(40px);
    background-color: #ff681e;
    background-image: linear-gradient(219deg, #ff9831, #fe330a 73%);
    border-radius: 999em;
    position: absolute;
    top: 10em;
    bottom: auto;
    left: -19%;
    right: auto;
    animation: complex-animation2 10s infinite;
}
.sc-visual .bg .main-shape-3{
    width: 36em;
    height: 36em;
    filter: blur(20px);
    background: #fe330a;
    border-radius: 999em;
    position: absolute;
    top: 50em;
    bottom: auto;
    left: 15.5em;
    right: auto;
    animation: complex-animation3 10s infinite;
}

.sc-visual .content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 9.625em;

}
.sc-visual .content .top-group{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 3.75em;
    border-bottom: 1px solid #fff;
}
.sc-visual .content .top-group .title{
    display: block;
    flex: .5;
    position: relative;
    text-align: right;
    z-index: 1;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-family: 'Rejouice';
    font-size: 10em;
    font-weight: bold;
    line-height: .8;
}
.sc-visual .content .top-group .title p{
    display: block;
    overflow: hidden;
}
.sc-visual .content .top-group .title span{
    display: block;
    opacity: 0;
    padding: 8px 0;
}
.sc-visual .content .top-group .desc{
    flex: 0.5;
    max-width: 22.8125em;
    position: relative;
    letter-spacing: -.03em;
    font-family: 'NBInternational';
    font-weight: 500;
    font-size: 1.75em;
    line-height: 1;
    text-decoration: none;
}
.sc-visual .content .top-group .desc p{
    display: block;
    overflow: hidden;
    margin-top: -2px;
}
.sc-visual .content .top-group .desc span{
    display: block;
    opacity: 0;
    padding-bottom: 5px;
}

.sc-visual .bottom-group{
    display: block;
    width: 100%;
    z-index: 3;
    border-radius: 1.25em;
    margin-top: 3.75em;
    position: relative;
    overflow: hidden;
}
.sc-visual .bottom-group .video-wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sc-visual .bottom-group .video-wrap video{
    width: 100%;
    height: auto;
}

.sc-marqee{
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-top: 9vw;
}
.sc-marqee .marqee-wrap{display: flex;}
.sc-marqee .marqee-wrap .text{
    display: flex;
    animation: flow 10s linear infinite forwards;
    font-family: 'Rejouice';
    font-weight: bold;
    font-size: 14em;
}
.sc-marqee .text .circle{
    width: 50px;
    height: 50px;
    background: #fe330a;
    border-radius: 50%;
    margin: auto;
    margin-right:2vw;
    margin-left:2vw;
}

@keyframes flow {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.sc-who{
    display: flex;
    height: auto;
    position: relative;
    justify-content: space-between;
    margin-top: 8.75em;
    padding: 0 5.625em;
    gap: 5vw;
}
.sc-who .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sc-who .bg .who-shape-2{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 34em;
    max-width: 34em;
    filter: blur(60px);
    border-radius: 50%;
    background-color: #fe330a;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 6em;
    bottom: auto;
    left: 20vw;
    right: auto;
    transform: translate3d(-5.30442%, 8.8407%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
    z-index: 1;
    animation: complex-animation4 10s infinite;
}

.sc-who .bg .who-shape-1{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 34em;
    max-width: 34em;
    filter: blur(20px);
    border-radius: 50%;
    background-color: #ff9831;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 2vw;
    bottom: auto;
    left: 26vw;
    right: auto;
    transform: translate3d(-5.30442%, 8.8407%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
    animation: complex-animation4 10s infinite;
    animation-delay: 2s;
}


.sc-who .left-group{
    width: 80%;
    max-width: 65em;
    flex: 1;
    z-index: 2;
    position: relative;
}
.sc-who .left-group p{
    display: block;
    position: relative;
    overflow: hidden;
}
.sc-who .left-group p .text{
    display: inline-block;
    font-family: 'NBInternational';
    font-weight: bold;
    font-size: 4vw;
    padding: 15px 0;
    text-transform: uppercase;
    transition: .5s;
    padding-left: 3vw;
}
.sc-who .left-group p .text:hover{
    opacity: 0;
}
.sc-who .left-group p .hide-text{
    display: inline-block;
    vertical-align: bottom;
    font-family: 'NBInternational','NanumSquareRound';
    font-weight: bold;
    font-size: 3.8vw;
    padding: 15px 0;
    text-transform: uppercase;
    padding-left: 3vw;
    color: rgba(255, 51, 0, 0);
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    letter-spacing: -.08em;
}

.sc-who .left-group p .hide-text.on{
    display: block;
    opacity: 1;
}
.sc-who .left-group p .text::before{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;;
    transition: .5s;
}
.sc-who .left-group p span:hover::before{
    background: #fff;
    border: 1px solid #fff;;
}

.sc-who .right-group{
    display: flex;
    width: 30%;
    max-width: 20em;
    flex-direction: column;
    margin-top: 8.75em;
    gap: 3vw;
}
.sc-who .right-group .img-wrap{
    border-radius: 17px;
    overflow: hidden;
}
.sc-who .right-group .img-wrap img{}
.sc-who .right-group .text{
    width: 100%;
    text-align: left;
    line-height: 1.3em;
    font-size: 1.2em;
    font-family: 'NBInternational';
    font-weight: 100;

}

.sc-project{
    margin-top: 8.75em;
}
.sc-project .threeyear{
    margin-top: 8.75em;
}
.sc-title{
    display: flex;
    position: relative;
    margin-left: 3em;
    margin-right: 2em;
    padding-bottom: 3.75em;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-family: 'Rejouice', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem;
    padding-bottom: 3.75em;
}
.sc-title::before{
    position: absolute;
    left: -15px;
    transform: translateY(90%);
    content: '';
    width: 8px;
    height: 8px;
    background: #fe330a;
    border-radius: 50%;
}

.sc-project .text-list{
    display: flex;
    flex-direction: column;
}
.sc-project .text-item{
    display: flex;
    position: relative;
    width: 60%;
    margin-left: auto;
    overflow: hidden;
    transition: 1s;
}
.sc-project .text-item:hover{
    padding: 2vw 0;
 }

.sc-project .text-item .line{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    z-index: 2;
}
.sc-project .text-item .line.last-line{
    position: absolute;
    top: 99%;
    right: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    z-index: 2;
}
.sc-project .text-item .text-wrap .bg {
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    background: linear-gradient(90deg, rgba(254,51,10,1) 0%, rgba(0,0,0,1) 100%);
    transform: translateX(-100%);
    width: 100%;
    height: calc(100% + 500px);
    transition: 1s; 
    z-index: -1;
}

.sc-project .text-item .text-wrap:hover .bg {
    transform: translateX(0%);
}

.sc-project .text-item .text-wrap{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    z-index: 1;
}
.sc-project .text-item .title-wrap{
    display: flex;
}
.sc-project .text-item .text-wrap .img-box{
    display: none;
    width: 90vw;
    height: 150px;
    background: #f00;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.sc-project .text-item .text-wrap .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-project .text-item .title-wrap .num{
    font-size: 1rem;
    opacity: 0.5;
    padding-right: 2em;
}
.sc-project .text-item .text-wrap a{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3.5em 2em 3.5em 2em;
    width: 80%;
    height: 100%;
    transition: 1s;
}
.sc-project .text-item .text-wrap:hover a{
    display: flex;
    color: #d6d6d6;
    flex-direction: column;
}
.sc-project .text-item .text-wrap a .title{
    font-weight: 500;
    line-height: 1.2;
    font-size: 4em;
    font-family: 'Rejouice','NanumSquareRound';
    font-weight: bold;
}
.sc-project .text-item .text-wrap a .title i{
    display: none;
    transform: rotate(-45deg);
    font-size: 0.5em;
    vertical-align: top;
    margin-left: 10px;
    color: #d6d6d6;
}
.sc-project .text-item .text-wrap a .title i.on{
    display: inline-block;
}

.sc-project .text-item .text-wrap .by-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 4em;
    font-family: 'NanumSquareRound','Rejouice';
}
.sc-project .text-item .text-wrap .by-box .sub-title{
    font-weight: bold;
    width: 25vw;
    line-height: 1.5;
}
.sc-project .text-item .text-wrap .by-box .text{
    opacity: .7;
    line-height: 1.3;
    font-weight: 100;
}
.sc-project .text-item .link-box{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 100%;
    transition: 1s;
    padding-left: 100px;
}

.sc-project .text-item .link-box .link-bg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(254,51,10,1) 100%);
    transition: 1s;
}

.sc-project .text-item .link-box:hover .link-bg{
   transform: translateX(0);
   padding: 2vw 0;
}
.sc-project .text-item .link-box:hover a{
   color: #d6d6d6;
}
.sc-project .text-item .link-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    transition: 1s;
    padding-right: 10px;
    font-size: .7vw;
}
.sc-project .text-item .link-box i{
    transform: rotate(-45deg);
    font-size: 0.8em;
    vertical-align: top;
    margin-left: 10px;
}


.sc-project .video-list{
    display: block;
}
.sc-project .video-list .item{
    display: none;
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 22vw;
    height: 60vh;
    border-radius: 20px;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;
}
.sc-project .video-list .item.on{
    display: block;
}
.sc-project .video-list .item .video-wrap{
    width: 100%;
    height: 100%;
}
.sc-project .video-list .item .video-wrap video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sc-service{
    margin: 0 2em;
    margin-top: 10em;
    height: 800px;
    border-radius: 20px;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
}
.sc-service .left-group{
    position: relative;
    width: 45%;
    height: 800px;
}
.sc-service .left-group .left-content{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.sc-service .left-group .top-area{
    display: flex;
    align-items: flex-end;
    height: 410px;
    width: 20.75em;
}
.sc-service .left-group .top-area .list{}
.sc-service .left-group .top-area .item{
    display: block;
    font-family: 'Rejouice', sans-serif;
    font-size: 4.25em;
    font-weight: bold;
    line-height: 1;
    padding-left: .3em;
    color: #504a45;
    border-left: 3px solid #504a45;
}
.sc-service .left-group .top-area .item.on{
    color: #fff;
    border-left: 3px solid #fe330a;
}
.sc-service .left-group .top-area .item button{
    padding-bottom: 10px;
}


.sc-service .left-group .bottom-area{
    display: flex;
    align-items: flex-start;
    width: 20.75em;
    height: 390px;
    padding-top: 2vw;
}
.sc-service .left-group .bottom-area .list{}
.sc-service .left-group .bottom-area .item{
    display: none;
    width: 22vw;
}
.sc-service .left-group .bottom-area .item.on{
    display: block;
}
.sc-service .left-group .bottom-area .item p{
    display: flex;
    flex-wrap: wrap;
    font-family: 'NanumSquareRound';
    font-size: 1em;
    font-weight: 100;
    line-height: 1.7;
}


.sc-service .right-group{
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 800px;
    z-index: 1;
    overflow: hidden;
}
.sc-service .right-group .item{
    display: none;
}
.sc-service .right-group .item.on{
    display: block;
}
.sc-service .right-group .img-wrap{
    width: 100%;
    height: 100%;
}
.sc-service .right-group .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-with{
    position: relative;
    margin-top: 8.75em;
    padding-bottom: 8.75em;


}
.sc-with::after{
    content: '';
    position: absolute;
    top: 100%;
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    left: 0;
}
.sc-with .swiper:hover{
    cursor:  url(../images/cursor.png) 64 64, auto;
}
.sc-with .swiper{
    padding-left: 5.625em;
    padding-right: 5.625em;
}
.sc-with .swiper .sc-title{
    margin-left: 1em;
}
.sc-with .swiper-wrapper{}
.sc-with .swiper-slide{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 1.5em;
    border-left: 1px solid #fff;
    transition: 1s;
}
.sc-with .swiper-slide:hover{
    transform: scale(1.02);
}
.sc-with .swiper-slide .title{
    font-size: 3.5vw;
    margin-left: 5px;
    transition: 1s;
}
.sc-with .swiper-slide:hover .title{
    color: #ff3300;
}

.sc-with .swiper-slide .text{
    width: 20vw;
    font-family: 'NanumSquareRound';
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
}
.sc-with .swiper-slide .img-wrap img{
    width: 3.5vw;
    height: 3.5vw;
    transition: 1s;
}
.sc-with .swiper-slide:hover .img-wrap img{
    filter: invert(37%) sepia(75%) saturate(6743%) hue-rotate(2deg) brightness(105%) contrast(105%);
}


/* 모바일버전 [768px]까지만잡히면끝. */
@media (max-width:1024px) {
    .sc-visual .content .top-group .title {
        font-size: 7em;
    }
    .sc-visual .content .top-group .desc {
        font-size: 1.5rem;
        max-width: 15em;
    }
    .sc-marqee .marqee-wrap .text{
        font-size: 9em;
    }
    .sc-marqee .text .circle {
        width: 40px;
        height: 40px;
    }
    .sc-visual .bg{
        position: absolute;
        top: 9em;
        bottom: auto;
        left: 50px;
        right: 0;
        width: auto;
        height: 10em;
    }
    .sc-who .left-group p span {
        font-size: 2.25em;
    }
    .sc-who .left-group {
        max-width: 25em;
    }
    .sc-who .right-group{
        z-index: 2;
    }
    .sc-who .right-group .text{
        font-size: 0.9em;
    }
    .sc-project .text-item .text-wrap a .title{
        font-size: 2.2em;
    }
    .sc-project .text-item .text-wrap .by-box .sub-title,
    .sc-project .text-item .text-wrap .by-box .text{
        font-size: 0.9em;
    }
    .sc-project .text-item .title-wrap .num{
        font-size: 0.8rem;
    }
    .sc-project .text-item .link-box a{
        font-size: 0.8rem;
        margin-right: 10px;
        padding-right: 10px;
    }
    .sc-project .text-item .link-box{
        width: 45%;
    }
    .sc-project .video-list .item{
        top: 50%;
        left: 5%;
        width: 30vw;
        height: 50vh;
    }
    
    .sc-service .right-group .list{
        height: 100%;
    }
    .sc-service .right-group .img-wrap{
        height: 800px;
    }
    .sc-service .right-group .img-wrap img{
        height: 150%;
        object-fit: cover;
    }
    .sc-service .left-group .top-area .item{
        font-size: 2.7em;
    }
    .sc-service .right-group,
    .sc-service .left-group{
        width: 50%;
    }
    .sc-service .left-group .left-content{
        left: 50%;
    }
    .sc-service .left-group .bottom-area .item{
        width: 15%;
    }
    .sc-service .left-group .bottom-area .item p{
        font-size: 0.9em;
    }
    .sc-with .swiper-slide .title {
        font-size: 6.5vw;
    }
    .sc-with .swiper-slide .text{
        font-size: 0.9em;
        width: 24vw;
    }
}
    

    /* 모바일버전 [320]까지만잡히면끝. */
    @media (max-width:767px) {
        .sc-visual .content .top-group{
            display: flex;
            flex-direction: column-reverse;
            gap: 50px;
        }

        .sc-visual .bg{
            position: absolute;
            top: 15em;
            bottom: auto;
            left: auto;
            right: -5em;
            width: 20em;
            height: 20em;
            transform-style: preserve-3d;
            will-change: transform;
            z-index: 2;
            transform: translate3d(-2.83324%, 2.83324%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-52.5008deg) skew(0deg, 0deg);
        }
        .sc-visual .content .top-group{
            align-items: center;
        }
        .sc-visual .content .top-group .title{
            text-align: center;
            font-size: 18vw;
        }
        .sc-visual .content .top-group .desc{
            text-align: center;
            font-size: 5vw;
        }
        .sc-visual .bg{
            right: -12em;
            top: 5em;
            height: 15em;
        }
        .sc-visual .bg .main-shape-1{
            width: 5em;
            height: 8em;
            filter: blur(25px);
            background: #fe330a;
            border-radius: 999em;
            position: absolute;
            top: 10em;
            bottom: auto;
            left:-10%;
            right: auto;
            animation: complex-animation1 10s infinite;
        }
        
        .sc-visual .bg .main-shape-2{
            width: 8em;
            height: 5em;
            filter: blur(40px);
            background-color: #ff681e;
            background-image: linear-gradient(219deg, #ff9831, #fe330a 73%);
            border-radius: 999em;
            position: absolute;
            top: -2em;
            bottom: auto;
            left: -12%;
            right: auto;
            animation: complex-animation2 10s infinite;
        }
        .sc-visual .bg .main-shape-3{
            width:3em;
            height: 3em;
            filter: blur(20px);
            background: #fe330a;
            border-radius: 999em;
            position: absolute;
            top: 10em;
            bottom: auto;
            left: 15.5em;
            right: auto;
            animation: complex-animation3 10s infinite;
        }
        .sc-marqee .marqee-wrap .text{
            font-size: 30vw;
        }
        .sc-marqee .text .circle{
            width: 30px;
            height: 30px;
            margin: auto 20px;
        }
        .sc-who{
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 1vw;
            overflow: hidden;
            margin-top: 2.75em;
            padding: 0 2em;
        }
        .sc-who .bg{
            top: 10%;
            width: 50%;
            height: 50%;
        }
        .sc-who .bg .who-shape-1{
            width: 163%;
            height: 90%;
        }
        .sc-who .bg .who-shape-2{
            width: 90%;
            height: 50%;
            filter: blur(20px);
        }
        .sc-who .left-group{
            width: 100%;
            max-width: 100%;
        }
        .sc-who .left-group p{
            text-align: center;
            font-size: 6vw;
        }
        .sc-who .left-group i{
            font-size: 6vw;
            padding-bottom: .5vw;
        }
        .sc-who .left-group p .text::before{
            display: none;
        }
        .sc-who .left-group p .hide-text{
            display: block;
            width: 100%;
            text-align: center;
            font-family: 'NBInternational';
            font-weight: bold;
            font-size: 6vw;
            padding: 10px 0;
            text-transform: uppercase;
            color: rgba(255, 51, 0, 0);
            transition: .3s;
            position: absolute;
            top: 5px;
            left: 0;
        }
        .sc-who .right-group{
            display: flex;
            flex: 1;
            width: 100%;
            height: 100%;
            margin-top: 10vw;
            flex-direction: column;
            align-items: center;
            max-width: 80em;
        }
        .sc-who .right-group .img-wrap{
            width: 80%;
            height: 100%;
        }
        .sc-who .right-group .text{
            flex: 1;
            text-align: center;
        }
        .sc-title{
            padding:5em 0 1.5em;
        }
        .sc-project{
            margin-top: -5em;
        }
        .sc-project .text-item{
            width: 100%;
        }
        .sc-project .text-item .text-wrap{
            width: 100%;
            margin-bottom: 10px;
        }
        .sc-project .text-item .text-wrap a{
            width: 100%;
            gap: 15px;
        }
        .sc-project .text-item .text-wrap a:active{
            width: 100%;
            gap: 15px;
        }
        .sc-project .text-item .title-wrap .num{
            font-size: 0.7em;
        }
        .sc-project .text-item .text-wrap .by-box{
            width: 100%;
            padding-left: 1em;
        }
        .sc-project .text-item .text-wrap .by-box .sub-title{
            line-height: 1.5;
            width: 100%;
            font-size: 0.8em;
        }
        .sc-project .text-item .text-wrap .by-box .text{
            font-size: 0.7em;
        }
        .sc-project .text-item .item{
            display: block;
            width: 38%;
            filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.5));
            width: 90%;
            transform: translateY(0%);
            top: 14%;
            height: 25vh;
            background: #f00;
        }
        
        .sc-project .text-item .link-box{
            position: absolute;
            top: 85%;
            left: 0;
            width: 100%;
            padding:0;
            z-index: 1;
        }
        .sc-project .text-item .link-box a{
            display: block;
            padding-right: 0px;
            z-index: 1;
            padding-top: 35px;
            text-align: left;
            padding-left: 32px;
        }
        .sc-project .text-item .text-wrap:hover a{
            color: #fff;
        }
        .sc-project .text-item .link-box:hover a{
            color: #fff;
         }
        .sc-project .text-item .text-wrap .bg{
            display: none;
        }
        .sc-project .text-item .text-wrap .img-box{
            display: block;
            width: 90vw;
            height: 150px;
            background: #f00;
            margin-bottom: 20px;
            overflow: hidden;
            border-radius: 10px;
        }
        .sc-project .text-item .link-box .link-bg{
            display: none;
        }
        .sc-project .text-item .text-wrap{
            height: 80%;
        }
        .sc-project .text-item .text-wrap a {
            padding: 1.5em 2em 3.5em 1em;
        }
        .sc-project .video-list .item.on{
            display: none;
        }
        .sc-service {
            margin-top: 5em;
        }
        .sc-service .content{
            position: relative;
            width: 100%;
            height: 100%;
        }
        .sc-service .left-group{
            position: absolute;
            top:50%;
            left: 0;
            width: 100%;
            height: 300px;
        }
        .sc-service .right-group{
            position: absolute;
            top:  0;
            left: 0;
            width: 100%;
            height: 30%;
        }
        .sc-service .left-group .top-area{
            height: 100%;
        }
        .sc-service .left-group .top-area .item{
            font-size: 2.2em;
            width: 100%;
        }
        .sc-service .left-group .bottom-area .item p{
            line-height: 1.6;
        }
        .sc-service .left-group .left-content{
            width: 80%;
        }

        .sc-service .left-group .bottom-area{
            display: flex;
            justify-content: start;
        }
        .sc-service .left-group .bottom-area .item{
            width: 62vw;
        }
        .sc-with{
            margin-top: 0;
            padding-bottom: 2.75em;
        }
        .sc-with .swiper{
            padding: 0 10vw;
        }
        .sc-with .swiper-slide .title {
            font-size: 20vw;
        }
        .sc-with .swiper-slide .text{
            font-size: 0.9em;
            width: 58vw;
        }
        .sc-with .swiper-slide .img-wrap{
            width: 20vw;
            height: 20vw;
        }
        .sc-with .swiper-slide .img-wrap img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }