@import './font.css';
@import './reset.css';
@import './common.css';
body{
    min-width: 360px;
}
.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 10;
    transform: translateY(0%);
    transition: .5s;
}
.header.off{
    transform: translateY(-200%);
}

.header-flex{
    display: flex;
    justify-content: space-between;
}
.header .header-flex .logo{
    max-width: 170px;
    padding: 12px 16px 10px;
}
.header .header-flex .logo a{
    display: block;
    width: 75px;
    height: 38px;
    background: url(https://poc-cf-image.cjenm.com/resize/340x76/public/share/systemmng/site/gnbmng/tvn_logo_230313.png) no-repeat center/cover;
}
.header .header-flex .util-area{display: flex;}
.header .header-flex .util-area .menu-group{
    display: flex;
    padding: 12px 16px 10px;
}
.header .header-flex .util-area .search-flex .search-btn{
    width: 32px;
    height: 32px;
    color: #464646;
}
.header .header-flex .util-area .search-wrap{
    display: none;
    position: fixed;
    top: 0;right: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    padding: 0 16px;
    z-index: 10;
}
.header .header-flex .util-area .search-wrap.on{
    display: block;
}
.header .header-flex .util-area .search-wrap fieldset{
    display: flex; 
    align-items: center;
    position: relative;
    padding-top: 64px;
}
.header .header-flex .util-area .search-wrap fieldset .search-btn{
    position: absolute;
    top: 0;right: 0;
    width: 48px;
    height: 48px;
    padding-top: 64px;
    color: #fff;
}
.header .header-flex .util-area .search-wrap fieldset .search-btn i{
    line-height: 48px;
    color: #fff;
}

.header .header-flex .util-area .search-wrap fieldset::after{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 17px;
}
.header .header-flex .util-area .search-wrap input{
    height: 48px;
    width: 100%;
    background: #000;
    border: none;
    color: #fff;
    outline: none;
}
.header .header-flex .util-area .search-wrap input::placeholder{
    padding: 8px 0;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.4);
}
.header .header-flex .util-area .search-wrap .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
}
.header .header-flex .util-area .search-wrap .close-btn i{
    color: #fff;
    font-size: 20px;
}
.header .header-flex .util-area .menu-btn{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    color: #464646;
}
.header .header-flex .util-area .snb{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
   transform: translateX(100%);
   transition: .5s;
   z-index: 1;
}
.header .header-flex .util-area .snb.on{
    display: block;
    transform: translateX(0);
}
.header .header-flex .util-area .snb .snb-top{
    display: flex;
    position: relative;
    flex-direction: column;
}
.header .header-flex .util-area .snb .snb-top::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #F8F8F8;
}
.header .header-flex .util-area .snb .snb-top .top-group{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header .header-flex .util-area .snb .snb-top .login-wrap{
    display: flex;
    height: 50px;
    padding: 0 16px;
}
.header .header-flex .util-area .snb .snb-top .login-wrap a{
    font-weight: 700;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 19px;
    letter-spacing: -0.02em;
    padding: 16px 12px;
}
.header .header-flex .util-area .snb .snb-top .top-group .sub-flex{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 12px 16px 10px;
    margin-left: auto;
}
.header .header-flex .util-area .snb .snb-top .top-group .search-area{
    display: flex;
    position: relative;
}
.header .header-flex .util-area .snb .snb-top .top-group .search-btn{
    width: 32px;
    height: 32px;
    color: #464646;
}
.header .header-flex .util-area .snb .close-btn{
    width: 32px;
    height: 32px;
    font-size: 30px;
    margin-left: 10px;
    color: #464646;
    margin-top: -10px;
}

.header .header-flex .util-area .snb .snb-bottom{
    display: block;
    padding: 12px 0px;
}
.header .header-flex .util-area .snb .snb-bottom .list{
    display: flex;
    flex-direction: column;
}

.header .header-flex .util-area .snb .snb-bottom .item-wrap{
    display: flex;
}

.header .header-flex .util-area .snb .snb-bottom .item a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 24px
}
.header .header-flex .util-area .snb .snb-bottom .item-wrap i{
    color: lightgray;
}
.header .header-flex .util-area .snb .snb-bottom .item a:hover {
    color: rgb(249, 2, 40);;
}

.header .header-flex .snb .snb-bottom .sub-box{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(100%);
    transition: .5s;
}
.header .header-flex .snb .snb-bottom .sub-box.on{
    transform: translateX(0%);
}
.header .header-flex .snb .snb-bottom .sub-box .sub-top{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}
.header .header-flex .snb .snb-bottom .sub-box .sub-top::after{
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #f9f9f9;
}
.header .header-flex .snb .snb-bottom .sub-box .sub-top .back-btn{
    padding: 12px 16px 10px;
}
.header .header-flex .snb .snb-bottom .sub-box .sub-top .part-name{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #000;
}
.header .header-flex .snb .snb-bottom .sub-box .sub-top .search-btn{
    display: inline-block;
    padding: 12px 16px 10px;
}

.header .header-flex .snb .snb-bottom .sub-box .sub-item a{
    display: block;
    padding: 12px 50px 12px 24px;
    font-size: 16px;
    color:#000;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-weight: normal;
}

.header .gnb{
    background: #fff;
}
.header .gnb .list{
    display: flex;
    padding: 0 0 0 16px;
    overflow-x: auto;
    background: #ccc;
}
.header .gnb .list::-webkit-scrollbar{
    display:none; /* Chrome , Safari , Opera */
}
.header .gnb .list{
    display: flex;
    height: 55px;
    min-width: 100%;
    padding: 0 0 0 16px;
    overflow-x: auto;
    background: #F8F8F8;
}
.header .gnb .item.on{
    color: #F90228;
    border-bottom: 3px solid #f00;
}


.header .gnb .item{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color:  rgba(0, 0, 0, 0.6);
}
.header .gnb .item a{
    display: block;
    padding: 17px 12px;
}



.footer{
    position: relative;
    width: 100%;
}
.footer::before{
    position: absolute;
    content: '';
    top: 0;
    height: 1px;
    width: 100%;
    background:rgba(0, 0, 0, 0.06);
}
.footer .route{
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #000000;
    padding: 9px 16px;
}

.footer .fnb{
    position: relative;
    padding: 14px 16px 32px;
}
.footer .fnb::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background:rgba(0, 0, 0, 0.06);
}
.footer .route::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 100%;
    left: 0;
    background-image: url(https://web-cf-image.cjenm.com/public/share/systemmng/site/footermng/footer_bg_tvn-mo-left.png), url(https://web-cf-image.cjenm.com/public/share/systemmng/site/footermng/footer_bg_tvn-mo-right.png);
    background-repeat: no-repeat;
    z-index: -1;
}
.footer .fnb .fnb-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}
.footer .fnb .fnb-item a{
    display: inline-block;
    padding: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.footer .link-group{
    display: flex;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    gap: 10px;
    margin-top: 22px;
}
.footer .link-group .link-flex{
    width: calc(50% - 5px);
    margin: 0px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.06);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #444
    ;
}
.footer .link-group .link-btn{
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 10px;
}
.footer .link-group .link-btn i{
    align-items: center;
    float: right;
    width: 12px;
    height: 20px;
    transform: rotate(90deg);
}
.footer .link-group .list{
    display: none;
    position: absolute;
    top: 100%;
    background: #fff;
    width: inherit;
    box-shadow: 5px 10px 10px 1px rgb(226, 226, 226);
    z-index: 1;
    height: 200px;
    overflow: auto;
}
.footer .link-group .list.on{
    display: block;
}
.footer .link-group .item{
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    font-size: 14px;
}
.footer .link-group .item.top{
    padding: 6px;
}
.footer .link-group .item a{
    display: block;
    width: 100%;
    padding: 6px;
}
.footer .link-group .item a:hover{
    color: #fff;
    background: #5897fb;
}

.footer .link-group .item strong{
    padding: 6px;
    display: block;
    color: #000;
}
.footer .link-group .item .sub-item{
    padding: 0 6px;
}

.footer .f-main-area{
    padding: 30px 16px 40px;
}

.footer .f-main-area .logo a{
    display: block;
    width: 65px;
    height: 38px;
    background: url(https://web-cf-image.cjenm.com/public/share/systemmng/site/footermng/logo-tvn.png) no-repeat center/100%;
}
.footer .f-main-area address{
    margin-top: 20px;
}
.footer .f-main-area address span{
    display: block;
    font-size: 12px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.4);
}
.footer .f-main-area address a{
    display: inline-block;
    font-size: 12px;
    color: #000;
    line-height: 25px;
}
.footer .f-main-area address p{
    display: block;
    font-size: 12px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.4);
}
.footer .f-main-area address p span{
    display: inline-block;
    position: relative;
    padding-left: 10px;
}
.footer .f-main-area address p span::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    margin-left: 5px;
    background: rgba(0, 0, 0, 0.4);
}
.footer .f-main-area address .info{
    display: block;
    text-decoration: underline;
}
.footer .f-main-area .sns-flex{
    margin-top: 24px;
}
.footer .f-main-area .sns-flex .list{
    display: flex;
    gap: 10px;
}
.footer .f-main-area .sns-flex .item{
    background: rgba(0, 0, 0, 0.06);
    border-radius: 50%;
}
.footer .f-main-area .sns-flex a{
    display: block;
}
.footer .f-main-area .sns-flex .item svg{
    display: block;
    width: 40px;
    height: 40px;
}

@media (max-width:959px){
    body{
        min-width: 360px;
    }
    .header{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        background: #fff;
        z-index: 10;
        transform: translateY(0%);
        transition: .5s;
    }
    .header.off{
        transform: translateY(-200%);
    }

    .header-flex{
        display: flex;
        justify-content: space-between;
    }
    .header .header-flex .logo{
        max-width: 170px;
        padding: 12px 16px 10px;
    }
    .header .header-flex .logo a{
        display: block;
        width: 75px;
        height: 38px;
        background: url(https://poc-cf-image.cjenm.com/resize/340x76/public/share/systemmng/site/gnbmng/tvn_logo_230313.png) no-repeat center/cover;
    }
    .header .header-flex .util-area{display: flex;}
    .header .header-flex .util-area .menu-group{
        display: flex;
        padding: 12px 16px 10px;
    }
    .header .header-flex .util-area .search-flex .search-btn{
        width: 32px;
        height: 32px;
        color: #464646;
    }
    .header .header-flex .util-area .search-wrap{
        display: none;
        position: fixed;
        top: 0;right: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        padding: 0 16px;
        z-index: 10;
    }
    .header .header-flex .util-area .search-wrap.on{
        display: block;
    }
    .header .header-flex .util-area .search-wrap fieldset{
        display: flex; 
        align-items: center;
        position: relative;
        padding-top: 64px;
    }
    .header .header-flex .util-area .search-wrap fieldset .search-btn{
        position: absolute;
        top: 0;right: 0;
        width: 48px;
        height: 48px;
        padding-top: 64px;
        color: #fff;
    }
    .header .header-flex .util-area .search-wrap fieldset .search-btn i{
        line-height: 48px;
        color: #fff;
    }

    .header .header-flex .util-area .search-wrap fieldset::after{
        position: absolute;
        content: '';
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 4px;
        background: #fff;
        border-radius: 17px;
    }
    .header .header-flex .util-area .search-wrap input{
        height: 48px;
        width: 100%;
        background: #000;
        border: none;
        color: #fff;
        outline: none;
    }
    .header .header-flex .util-area .search-wrap input::placeholder{
        padding: 8px 0;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.4);
    }
    .header .header-flex .util-area .search-wrap .close-btn{
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 8px;
    }
    .header .header-flex .util-area .search-wrap .close-btn i{
        color: #fff;
        font-size: 20px;
    }
    .header .header-flex .util-area .menu-btn{
        width: 32px;
        height: 32px;
        margin-left: 10px;
        color: #464646;
    }
    .header .header-flex .util-area .snb{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
       transform: translateX(100%);
       transition: .5s;
       z-index: 1;
    }
    .header .header-flex .util-area .snb.on{
        display: block;
        transform: translateX(0);
    }
    .header .header-flex .util-area .snb .snb-top{
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .header .header-flex .util-area .snb .snb-top::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: #F8F8F8;
    }
    .header .header-flex .util-area .snb .snb-top .top-group{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .header .header-flex .util-area .snb .snb-top .login-wrap{
        display: flex;
        height: 50px;
        padding: 0 16px;
    }
    .header .header-flex .util-area .snb .snb-top .login-wrap a{
        font-weight: 700;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.6);
        line-height: 19px;
        letter-spacing: -0.02em;
        padding: 16px 12px;
    }
    .header .header-flex .util-area .snb .snb-top .top-group .sub-flex{
        display: flex;
        align-items: center;
        height: 60px;
        padding: 12px 16px 10px;
        margin-left: auto;
    }
    .header .header-flex .util-area .snb .snb-top .top-group .search-area{
        display: flex;
        position: relative;
    }
    .header .header-flex .util-area .snb .snb-top .top-group .search-btn{
        width: 32px;
        height: 32px;
        color: #464646;
    }
    .header .header-flex .util-area .snb .close-btn{
        width: 32px;
        height: 32px;
        font-size: 30px;
        margin-left: 10px;
        color: #464646;
        margin-top: -10px;
    }

    .header .header-flex .util-area .snb .snb-bottom{
        display: block;
        padding: 12px 0px;
    }
    .header .header-flex .util-area .snb .snb-bottom .list{
        display: flex;
        flex-direction: column;
    }
    .header .header-flex .util-area .snb .snb-bottom .item-wrap{
        display: flex;
    }
  
    .header .header-flex .util-area .snb .snb-bottom .item a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        padding: 12px 24px
    }
    .header .header-flex .util-area .snb .snb-bottom .item-wrap i{
        color: lightgray;
    }
    .header .header-flex .util-area .snb .snb-bottom .item a:hover {
        color: rgb(249, 2, 40);;
    }

    .header .header-flex .snb .snb-bottom .sub-box{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        transform: translateX(100%);
        transition: .5s;
    }
    .header .header-flex .snb .snb-bottom .sub-box.on{
        transform: translateX(0%);
    }
    .header .header-flex .snb .snb-bottom .sub-box .sub-top{
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
    }
    .header .header-flex .snb .snb-bottom .sub-box .sub-top::after{
        position: absolute;
        width: 100%;
        content: "";
        left: 0;
        bottom: 0;
        height: 4px;
        background-color: #f9f9f9;
    }
    .header .header-flex .snb .snb-bottom .sub-box .sub-top .back-btn{
        padding: 12px 16px 10px;
    }
    .header .header-flex .snb .snb-bottom .sub-box .sub-top .part-name{
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: -0.02em;
        color: #000;
    }
    .header .header-flex .snb .snb-bottom .sub-box .sub-top .search-btn{
        display: inline-block;
        padding: 12px 16px 10px;
    }

    .header .header-flex .snb .snb-bottom .sub-box .sub-item a{
        display: block;
        padding: 12px 50px 12px 24px;
        font-size: 16px;
        color:#000;
        line-height: 24px;
        letter-spacing: -0.4px;
        font-weight: normal;
    }

    .header .gnb{
        background: #fff;
    }
    .header .gnb .list{
        display: flex;
        padding: 0 0 0 16px;
        overflow-x: auto;
        background: #ccc;
    }
    .header .gnb .list::-webkit-scrollbar{
        display:none; /* Chrome , Safari , Opera */
    }
    .header .gnb .list{
        display: flex;
        height: 55px;
        min-width: 100%;
        padding: 0 0 0 16px;
        overflow-x: auto;
        background: #F8F8F8;
    }
    .header .gnb .item.on{
        color: #F90228;
        border-bottom: 3px solid #f00;
    }
    
    
    .header .gnb .item{
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color:  rgba(0, 0, 0, 0.6);
    }
    .header .gnb .item a{
        display: block;
        padding: 17px 12px;
    }
    
    
    
    .footer{
        position: relative;
        width: 100%;
    }
    .footer::before{
        position: absolute;
        content: '';
        top: 0;
        height: 1px;
        width: 100%;
        background:rgba(0, 0, 0, 0.06);
    }
    .footer .route{
        display: block;
        position: relative;
        font-weight: 700;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #000000;
        padding: 9px 16px;
    }
    
    .footer .fnb{
        position: relative;
        padding: 14px 16px 32px;
    }
    .footer .fnb::after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background:rgba(0, 0, 0, 0.06);
    }
    .footer .route::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 100%;
        left: 0;
        background-image: url(https://web-cf-image.cjenm.com/public/share/systemmng/site/footermng/footer_bg_tvn-mo-left.png), url(https://web-cf-image.cjenm.com/public/share/systemmng/site/footermng/footer_bg_tvn-mo-right.png);
        background-repeat: no-repeat;
        z-index: -1;
    }
    .footer .fnb .fnb-list{
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
    }
    .footer .fnb .fnb-item a{
        display: inline-block;
        padding: 0px;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
    }
    
    .footer .link-group{
        display: flex;
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        gap: 10px;
        margin-top: 22px;
    }
    .footer .link-group .link-flex{
        width: calc(50% - 5px);
        margin: 0px;
        margin-top: 10px;
        background: rgba(0, 0, 0, 0.06);
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #444
        ;
    }
    .footer .link-group .link-btn{
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 10px;
    }
    .footer .link-group .link-btn i{
        align-items: center;
        float: right;
        width: 12px;
        height: 20px;
        transform: rotate(90deg);
    }
    .footer .link-group .list{
        display: none;
        position: absolute;
        top: 100%;
        background: #fff;
        width: inherit;
        box-shadow: 5px 10px 10px 1px rgb(226, 226, 226);
        z-index: 1;
        height: 200px;
        overflow: auto;
    }
    .footer .link-group .list.on{
        display: block;
    }
    .footer .link-group .item{
        color: rgba(0, 0, 0, 0.4);
        font-weight: 700;
        font-size: 14px;
    }
    .footer .link-group .item.top{
        padding: 6px;
    }
    .footer .link-group .item a{
        display: block;
        width: 100%;
        padding: 6px;
    }
    .footer .link-group .item a:hover{
        color: #fff;
        background: #5897fb;
    }
    
    .footer .link-group .item strong{
        padding: 6px;
        display: block;
        color: #000;
    }
    .footer .link-group .item .sub-item{
        padding: 0 6px;
    }
    
    .footer .f-main-area{
        padding: 30px 16px 40px;
    }

    .footer .f-main-area .logo a{
        display: block;
        width: 65px;
        height: 38px;
        background: url(https://web-cf-image.cjenm.com/public/share/systemmng/site/footermng/logo-tvn.png) no-repeat center/100%;
    }
    .footer .f-main-area address{
        margin-top: 20px;
    }
    .footer .f-main-area address span{
        display: block;
        font-size: 12px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.4);
    }
    .footer .f-main-area address a{
        display: inline-block;
        font-size: 12px;
        color: #000;
        line-height: 25px;
    }
    .footer .f-main-area address p{
        display: block;
        font-size: 12px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.4);
    }
    .footer .f-main-area address p span{
        display: inline-block;
        position: relative;
        padding-left: 10px;
    }
    .footer .f-main-area address p span::before{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 12px;
        margin-left: 5px;
        background: rgba(0, 0, 0, 0.4);
    }
    .footer .f-main-area address .info{
        display: block;
        text-decoration: underline;
    }
    .footer .f-main-area .sns-flex{
        margin-top: 24px;
    }
    .footer .f-main-area .sns-flex .list{
        display: flex;
        gap: 10px;
    }
    .footer .f-main-area .sns-flex .item{
        background: rgba(0, 0, 0, 0.06);
        border-radius: 50%;
    }
    .footer .f-main-area .sns-flex a{
        display: block;
    }
    .footer .f-main-area .sns-flex .item svg{
        display: block;
        width: 40px;
        height: 40px;
    }
}
