.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
}

.hidden{
    overflow: hidden;
}

.common-inner{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

@keyframes moveArrow {
    0%{
        opacity: 0;
        transform: translateX(0px);
    }
    100%{
        opacity: 1;
        transform: translateX(10px);
    }
}